body { color:#333; font-family: 'Open Sans', sans-serif;}

.navbar {margin-bottom:0px;}

.dashboard-intro{ padding:100px 0;background-color:#354854;color:#fff;}
.dashboard-table{ padding:70px 0;}
.dashboard-stats{ padding:100px 0;background-color:#333;color:#fff;}

.search-input-container i {color:black;margin-top:10px;with:auto;height:auto}
.search-results {position:absolute;background-color:#fff; padding:20px;z-index:1;border-bottom-left-radius: 4px;border-bottom-right-radius:4px;border:1px solid #66AFE9;}

.guild {font-weight:bold}
.faction-1 { color: #CD2B00}
.faction-0 { color: #0C81CE}

/* None*/
.class-0{color:#000000}
/* Warrior */
.class-1{color:#C79C6E 	}
/* Paladin */
.class-2{color:#F58CBA 	}
/* Hunter */
.class-3{color:#ABD473}
/* Rogue */
.class-4{color:#FFF569}
/* Priest */
.class-5{color:#bbb;}
/* Death Knight */
.class-6{color:#C41F3B }
/* Shaman */
.class-7{color:#0070DE}
/* Mage */
.class-8{color:#69CCF0}
/* Warlock */
.class-9{color:#9482C9 	}
/* Monk */
.class-10{color:#00FF96}
/* Druid */
.class-11{color:#FF7D0A}

.icon {padding: 1px 0px 1px 25px;}

/* Warrior */
.icon.class-1{background: url('../images/icon/18/class-1.gif') left center no-repeat;}
/* Paladin */
.icon.class-2{background: url('../images/icon/18/class-2.gif') left center no-repeat;}
/* Hunter */
.icon.class-3{background: url('../images/icon/18/class-3.gif') left center no-repeat;}
/* Rogue */
.icon.class-4{background: url('../images/icon/18/class-4.gif') left center no-repeat;}
/* Priest */
.icon.class-5{background: url('../images/icon/18/class-5.gif') left center no-repeat;}
/* Death Knight */
.icon.class-6{background: url('../images/icon/18/class-6.gif') left center no-repeat;}
/* Shaman */
.icon.class-7{background: url('../images/icon/18/class-7.gif') left center no-repeat;}
/* Mage */
.icon.class-8{background: url('../images/icon/18/class-8.gif') left center no-repeat;}
/* Warlock */
.icon.class-9{background: url('../images/icon/18/class-9.gif') left center no-repeat;}
/* Monk */
.icon.class-10{background: url('../images/icon/18/class-10.gif') left center no-repeat;}
/* Druid */
.icon.class-11{background: url('../images/icon/18/class-11.gif') left center no-repeat;}


.icon.armory {background: url('../images/icon/18/armory.png') left center no-repeat;}
.icon.dps {background: url('../images/icon/18/dps.png') left center no-repeat;padding: 1px 0px 1px 20px;}
.icon.heal {background: url('../images/icon/18/healing.png') left center no-repeat;padding: 1px 0px 1px 20px;}
.icon.tank {background: url('../images/icon/18/tank.png') left center no-repeat;padding: 1px 0px 1px 20px;}

.ring img{width:18px}