body { color:#333; font-family: 'Open Sans', sans-serif;}

.navbar {margin-bottom:0px;}

.dashboard-intro{ padding:100px 0;background-color:#354854;color:#fff;}
.dashboard-table{ padding:70px 0;}
.dashboard-stats{ padding:100px 0;background-color:#333;color:#fff;}

.guild {font-weight:bold}
.faction-1 { color: #CD2B00}
.faction-0 { color: #0C81CE}