body { color:#333; font-family: 'Open Sans', sans-serif;}

.navbar {margin-bottom:0px;}

.dashboard-intro{ padding:100px 0;background-color:#354854;color:#fff;}
.dashboard-stats{ padding:100px 0;background-color:#333;color:#fff;}