<section class="header header-account">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ "MESSAGES"|translate}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span>
                        {{ "MESSAGES_DESCRIPTION"|translate}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<div class="message container">
    <div class="row">
        <div class="col-md-4">
            <div class="message-list panel panel-default"  ng-style="style()" wlfg-message-height-list perfect-scrollbar wheel-propagation="false" wheel-speed="2" min-scrollbar-length="20">
                <div class="panel-body p-t-0 p-b-0 bd-t-s">
                    <div class="row bd-b-s p-b-10 p-t-10 active" ng-if="messages.length == 0">
                        <div class="col-md-12">
                            <a href="#/messages/{{entities[0]._id || entities[0].id}}/{{entities[1]._id || entities[1].id}}/">
                                <div class="h-20 txt-ellipsis" ng-repeat="entity in entities | conversationOrderFilter:user.id">
                                    <span>
                                        <span ng-class="{'class-{{entity.bnet.class}}':(entity.type=='character'), 'faction-{{entity.bnet.side}}':(entity.type=='guild')}" class="icon-small">{{entity.name}}</span> - {{entity.realm}} ({{entity.region|uppercase}})
                                    </span>
                                </div>
                            </a>
                            <!--<div class="f-12 txt-gray h-18 txt-ellipsis">
                               Users: <span ng-repeat="name in conversation.userNames">{{name}} </span>
                            </div>
                            <div class="f-12 txt-gray h-18 txt-ellipsis">
                                Message count: {{conversation.count}}
                            </div>-->
                            <!--<div class=" text-right txt-gray f-12">
                                Last message <span am-time-ago="conversation.lastMessageDate|wlfgObjectIdToTimestamp"></span>
                            </div>
                            <span class="message-count badge floating badge-active">{{conversation.unreadMessages.count}}</span>-->
                        </div>
                    </div>
                    <div class="row bd-b-s p-b-10 p-t-10"
                         ng-class="{'active':(conversation.entities[0]._id==objId1 || conversation.entities[0]._id==objId2) && (conversation.entities[1]._id==objId1 || conversation.entities[1]._id==objId2)}"
                         ng-repeat="conversation in conversations">
                        <div class="col-md-12">
                            <a href="#/messages/{{conversation.entities[0]._id || conversation.entities[0].id}}/{{conversation.entities[1]._id || conversation.entities[1].id}}/">
                                <div class="h-20 txt-ellipsis" ng-repeat="entity in conversation.entities | conversationOrderFilter:user.id">
                                    <span>
                                        <span ng-class="{'class-{{entity.bnet.class}}':(entity.type=='character'), 'faction-{{entity.bnet.side}}':(entity.type=='guild')}" class="icon-small">{{entity.name}}</span> - {{entity.realm}} ({{entity.region|uppercase}})
                                    </span>
                                </div>
                            </a>
                            <!--<div class="f-12 txt-gray h-18 txt-ellipsis">
                               Users: <span ng-repeat="name in conversation.userNames">{{name}} </span>
                            </div>
                            <div class="f-12 txt-gray h-18 txt-ellipsis">
                                Message count: {{conversation.count}}
                            </div>-->
                            <div class=" text-right txt-gray m-t-5 f-12">
                                Last message <span am-time-ago="conversation.lastMessageDate|wlfgObjectIdToTimestamp"></span>
                            </div>
                            <span class="message-count badge floating badge-active">{{conversation.unreadMessages.count}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" ng-show="objId1 && objId2">
            <div class="message-content panel panel-default">
                <div class="panel-body m-t-0 p-t-0">
                    <div class="row">
                        <div class="messages scroller" ng-style="style()" wlfg-message-height-content perfect-scrollbar scroll-glue wheel-propagation="false" wheel-speed="2" min-scrollbar-length="20">
                            <div ng-repeat="message in messages" class="clearfix" ng-style="getStyle($index)">
                                <div ng-if="getDisplay($index)" class="col-md-8 p-t-10">
                                    <div>
                                        <span class="txt-blue-light m-r-5">{{message.userName}}</span> - <span class="m-l-5 icon-small class-{{ entitiesKey[message.userId].bnet.class }}">{{ entitiesKey[message.userId].name }}</span>
                                    </div>
                                </div>
                                <div ng-if="getDisplay($index)" class="col-md-4 text-right">
                                    <span class="txt-gray f-12">{{ message._id|wlfgObjectIdToTimestamp|amUtc|conversationDateFilter }}</span>
                                </div>
                                <div class="col-md-12 m-t-5 message-text" ng-class="{'p-b-10':$last}">
                                    {{message.text}}
                                </div>
                                <div ng-if="messages[$index-1] && messages[$index-1].userId != user.id" class="separator col-md-12"></div>
                            </div>
                            <div class="col-md-12" ng-if="messages.length == 0">
                                {{"NO_MESSAGE_FOUND"|translate}}
                            </div>
                        </div>
                        <form ng-submit="sendMessage()" class="col-md-12 p-t-10 message-form-submit">
                            <div class="form-group">
                                <input ng-model="newMessage.text"
                                       placeholder="{{'MESSAGE_PLACEHOLDER'|translate}}"
                                       class="form-control">
                                </input>
                            </div>
                            <div class="form-group  m-b-0">
                                <button ng-click="sendMessage()" type="button" class="btn btn-inverse btn-default"
                                        aria-label="Send Message">
                                    <i class="fa fa-envelope-o"></i> {{"SEND_MESSAGE"|translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>