<section class="header header-account">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ "MESSAGES"|translate}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ "MESSAGES_DESCRIPTION"|translate}}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="message container">
    <div class="row">
        <div class="col-md-4">
            <div class="message-list panel panel-default">
                <div class="panel-body p-t-0 p-b-0 bd-t-s">
                    <div class="row bd-b-s p-b-10 p-t-10 active" ng-if="messages.length == 0">
                        <div class="col-md-10">
                            <div class="">
                                <div ng-if="type == 'character'">
                                    {{name}}@{{realm}}
                                    ({{region|uppercase}})
                                </div>
                                <div ng-if="type == 'guild' && user.guildAds.indexOf(name+'-'+realm+'-'+region) >= 0">
                                    {{ recipient }}
                                </div>
                                <div ng-if="type == 'guild' && user.guildAds.indexOf(name+'-'+realm+'-'+region) == -1">
                                    {{name}}@{{realm}}
                                    ({{region|uppercase}})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">

                        </div>
                    </div> 
                    <div class="row bd-b-s p-b-10 p-t-10" ng-class="{'active': region == message._id.region && name == message._id.name && realm == message._id.realm}" ng-repeat="message in messageList">
                        <div ng-if="message._id.type == 'character'">
                            <div class="col-md-8" ng-if="message._id.creatorId != user.id">
                                <div class="h-20 txt-ellipsis">
                                    {{ message.creatorBattleTag }}
                                </div>
                                <div class="f-12 txt-gray h-18 txt-ellipsis">
                                    We, je kiff ta guilde, inc poto !
                                </div>
                            </div>
                            <div class="col-md-8" ng-if="message._id.creatorId == user.id">
                                <div class="h-20 txt-ellipsis">
                                    {{message._id.name}}@{{message._id.realm}}
                                    ({{message._id.region|uppercase}})
                                </div>
                                <div class="f-12 txt-gray  h-18 txt-ellipsis">
                                    We, je kiff ta guilde, inc poto !
                                </div>
                            </div>
                            <div class="col-md-4 text-right txt-gray">
                                <span class="f-12">{{1288323623006 | date:'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                        <div ng-if="message._id.type == 'guild'">
                            <div class="col-md-8" ng-if="message._id.creatorId != user.id && user.guildAds.indexOf(message._id.name+'-'+message._id.realm+'-'+message._id.region) >= 0">
                                <div class="h-20 txt-ellipsis">
                                    {{ message.creatorBattleTag }}
                                </div>
                                <div class="f-12 txt-gray h-18 txt-ellipsis">
                                    We, je kiff ta guilde, inc poto !
                                </div>
                            </div>
                            <div class="col-md-8" ng-if="message._id.creatorId != user.id && user.guildAds.indexOf(message._id.name+'-'+message._id.realm+'-'+message._id.region) == -1">
                                <div class="h-20 txt-ellipsis">
                                    {{message._id.name}}@{{message._id.realm}}
                                    ({{message._id.region|uppercase}})
                                </div>
                                <div class="f-12 txt-gray h-18 txt-ellipsis">
                                    We, je kiff ta guilde, inc poto !
                                </div>
                            </div>

                            <div class="col-md-8" ng-if="message._id.creatorId == user.id">
                                <div class="h-20 txt-ellipsis">
                                    {{message._id.name}}@{{message._id.realm}}
                                    ({{message._id.region|uppercase}})
                                </div>
                                <div class="f-12 txt-gray h-18 txt-ellipsis">
                                    We, je kiff ta guilde, inc poto !
                                </div>
                            </div>
                            <div class="col-md-4 text-right txt-gray">
                                <span class="f-12">{{1288323623006 | date:'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="message-content panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7" ng-class="{'col-md-offset-5':message.id!=user.id}"
                             ng-repeat="message in messages">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {{message.battleTag}}: {{message.text}} - <span
                                        am-time-ago="message._id|wlfgObjectIdToTimestamp"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="messages.length == 0">
                            {{"NO_MESSAGE_FOUND"|translate}}
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea ng-model="newMessage.text"
                                          placeholder="{{'MESSAGE_PLACEHOLDER'|translate}}"
                                          class="form-control"
                                          rows="3">
                                </textarea>
                            </div>
                            <div class="form-group">

                                <button ng-click="sendMessage()" type="button" class="btn btn-inverse btn-default"
                                        aria-label="Send Message">
                                    <i class="fa fa-envelope-o"></i> {{"SEND_MESSAGE"|translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>