<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="m-b-15">
                    <a href="{{ hashbang }}/faq">{{ "FOOTER_FAQ"|translate }}</a>
                    |
                    <a href="{{ hashbang }}/legal-stuff">{{ "FOOTER_LEGAL_STUFF"|translate }}</a>
                    |
                    <a href="https://www.patreon.com/warcrafthub" target="_blank">{{ "SUPPORT_US"|translate }}</a>
                    |
                    <a href="http://discord.gg/7j7QtvD" target="_blank">Chat</a>
                    |
                    <a href="mailto:webmaster@warcrafthub.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    |
                    <a href="https://twitter.com/HubWarcraft" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    |
                    <a href="https://github.com/warcraftlfg" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <span class="pull-right">
                        <a href="https://www.warcraftprogress.com/" target="_blank">WarcraftProgress</a>
                        |
                        <a href="https://www.warcraftparser.com/" target="_blank">WarcraftParser</a>
                        |
                        <a href="https://www.warcraftlfg.com/" target="_blank">WarcraftLFG</a>
                        |
                        <a href="https://www.warcraftlogs.com/" target="_blank">WarcraftLogs</a>
                    </span>
                </div>
                <div class="m-b-10 f-10">
                    {{ "FOOTER_WOW_LEGACY"|translate }}
                </div>
                <div class="f-10">
                    {{ "FOOTER_COPYRIGHT"|translate }} warcraft{{ host }}.com
                </div>
            </div>
        </div>
    </div>
</footer>
