<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="m-b-15">
                    <a href="#/faq">
                        {{ "FOOTER_FAQ"|translate }}
                    </a>
                    |
                    <a href="#/legal-stuff">
                        {{ "FOOTER_LEGAL_STUFF"|translate }}
                    </a>
                    |
                    <a href="https://www.patreon.com/warcraftlfg" target="_blank">
                        {{ "SUPPORT_US"|translate }}
                    </a>
                    |
                    <a href="mailto:webmaster@warcraftlfg.com">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                    |
                    <a href="https://twitter.com/WarcraftLFG" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    |
                    <a href="https://github.com/warcraftlfg" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="m-b-10 f-10">
                    {{ "FOOTER_WOW_LEGACY"|translate }}
                </div>
                <div class="f-10">
                    {{ "FOOTER_COPYRIGHT"|translate }}
                </div>
            </div>
        </div>
    </div>
</footer>
