<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="m-b-15">
					<a href="#/about">
						{{ "FOOTER_ABOUT"|translate }}
					</a> 
					| 
					<a href="mailto:webmaster@warcraftlfg.com">
						{{ "FOOTER_CONTACT_US"|translate }}
					</a>
					| 
					<a href="#/privacy">
						{{ "FOOTER_PRIVACY_POLICY"|translate }}
					</a>
					|
					<a href="#/terms">
						{{ "FOOTER_TERMS_OF_USE"|translate }}
					</a>
					|
					<a href="#/cookies">
						{{ "FOOTER_COOKIES_POLICY"|translate }}
					</a>
					|
					<a href="http://www.wowprogress.com" target="_blank">
						WoWProgress
					</a>
					|
					<a href="http://www.warcraftlogs.com" target="_blank">
						WacraftLogs
					</a>
				</div>
				<div class="m-b-10 f-10">
					{{ "FOOTER_WOW_LEGACY"|translate }}
				</div>
				<div class="f-10">
					{{ "FOOTER_COPYRIGHT"|translate }}
				</div>
			</div>
		</div>
	</div>
</footer>