<nav class="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#warcraftlfg-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-2x fa-bars"></i>
            </button>
            <h1 class="navbar-brand">
                <a href="#/" title="WarcraftLFG">
                    &nbsp;
                </a>
            </h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="warcraftlfg-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/character/list">{{"CHARACTERS"|translate}}</a></li>
                <li><a href="#/guild/list">{{"GUILDS"|translate}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!user.id" class="cursor-default">
                    <span class="login-with">{{"CONNECT_BNET"|translate}}</span>
                    <a class="login-button" href="/auth/bnet">
                        <span class="login-bnet">
                            <span class="icon-small bnet"></span>
                            Battle.net
                        </span>
                    </a>
                </li>
                <li ng-if="user.id">
                    <a href="#/messages/">
                        <!--<i ng-if="unreadMessageCount.count <= 0" class="fa fa-comment-o f-18"></i>
                        <i ng-if="unreadMessageCount.count > 0" class="fa fa-commenting-o f-18"></i>-->
                        <img src="/assets/images/message.png" class="message-picto"/>
                    </a>
                    <span class="message-count badge floating badge-active" ng-if="unreadMessageCount.count > 0">{{ unreadMessageCount.count }}</span>
                </li>
                <li ng-if="user.id" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{user.battleTag}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/account/"><i class="fa fa-user m-r-5"></i> {{"ACCOUNT" | translate}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/user/logout"><i class="fa fa-power-off m-r-5"></i> {{"LOGOUT" | translate}}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{"LANG_"+currentLanguage|uppercase|translate}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-click="setLanguage('en')">English</a>
                        </li>
                        <li>
                            <a ng-click="setLanguage('de')">Deutsch</a>
                        </li>
                        <li>
                            <a ng-click="setLanguage('fr')">Français</a>
                        </li>
                        <li>
                            <a ng-click="setLanguage('ru')">Русский</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>