branches:
  only:
    - master

language: node_js

services:
  - mongodb

before_install:
  - gem update --system
  - gem install sass
  - openssl aes-256-cbc -K $encrypted_622f743b98c0_key -iv $encrypted_622f743b98c0_iv -in warcraftlfg.enc -out warcraftlfg -d

install:
  - npm install -g mocha grunt-cli bower
  - npm install


after_success:
  - eval "$(ssh-agent -s)" #start the ssh agent
  - chmod 600 .travis/warcraftlfg # this key should have push access
  - ssh-add .travis/warcraftlfg
  - echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - ssh warcraftlfg@warcraftlfg.com 'cd warcraft-lfg;git pull;npm update;bower install;grunt prod'

notifications:
  slack: wowfinder:hVSvnbLduJjFQQhen6qwFrT2