<div class="checkbox m-b-5">
    <label>
        <input ng-model="filters.progress.active" type="checkbox">  Progress max
    </label>
</div>
<div ng-if="filters.progress.active" class="m-b-10">
	<span class="css3-metro-dropdown m-b-5">
	    <select ng-model="filters.progress.kill" class="form-control">
	        <option value="1">1</option>
	        <option value="2">2</option>
	        <option value="3">3</option>
	        <option value="4">4</option>
	        <option value="5">5</option>
	        <option value="6">6</option>
	        <option value="7">7</option>
	        <option value="8">8</option>
	        <option value="9">9</option>
	        <option value="10">10</option>
	        <option value="11">11</option>
	        <option value="12">12</option>
	        <option value="13">13</option>
	    </select>
	</span>
	<span class="css3-metro-dropdown">
	    <select ng-model="filters.progress.difficulty" class="form-control">
	        <option value="lfr">{{"LFR"|translate}}</option>
	        <option value="normal">{{"NORMAL"|translate}}</option>
	        <option value="heroic">{{"HEROIC"|translate}}</option>
	        <option value="mythic">{{"MYTHIC"|translate}}</option>
	    </select>
	</span>
</div>