<div class="row">
    <div class="col-md-12">
        Battletag : {{user.battletag}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="#/character-add">
            <button type="button" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i> {{"SEARCH_GUILD"|translate}}
            </button>
        </a>
        <a href="#/guild-add">
            <button type="button" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i> {{"SEARCH_PLAYER"|translate}}
            </button>
        </a>
    </div>
    <div class="col-md-6">

    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <pre>
           ACCOUNT TODOLIST
           - Create 2 buttons - Search Guild & Search Player
           - Show current ad
       </pre>
    </div>
</div>

