<md-card>
    <div layout="row">
        <div flex=20>
            <div class="bnet-logo"></div>
        </div>
        <div flex >
            <md-card-content>
                <h2>{{user.battletag}}</h2>
                <p>{{"ACCOUNT_SEARCH_DESCRIPTION"|translate}}</p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button ng-href="#/account/guild-add">{{"ACCOUNT_SEARCH_PLAYER"|translate}}</md-button>
                <md-button ng-href="#/account/character-add">{{"ACCOUNT_SEARCH_GUILD"|translate}}</md-button>
            </div>
        </div>
    </div>
</md-card>
