
<div class="row">
    <div class="col-md-6">
        <h3>Dernières guildes inscrites </h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="guild_ad in guild_ads">{{guild_ad.name}} - {{guild_ad.realm}} - {{guild_ad.region}} - <span am-time-ago="guild_ad.updated"></span></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Derniers personnages inscrits </h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="character_ad in character_ads">
                <a href="#/character/{{ character_ad.region }}/{{ character_ad.realm }}/{{ character_ad.name }}">
                    {{character_ad.name}} - {{character_ad.realm}} - {{character_ad.region}} - <span am-time-ago="character_ad.updated"></span>
                </a>
            </li>
        </ul>
    </div>
</div>


<h2>Dashboard</h2>
<code>
    - Two columns : Guild Search & Player Search by date<br/>
    - Counters (Guild & Player search).<br/>
    - Description
</code>