<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Dashboard</h2>
        </div>
        <div class="mdl-card__supporting-text">
	        - Two columns : Guild Search & Player Search by date<br/>
	        - Counters (Guild & Player search).<br/>
	        - Description
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Get Started</a>
        </div>
    </div>
</div>