<div layout="column" layout-gt-lg="row" flex >
    <div flex=35 >
        <div layout-margin>
            <h2>{{"GUILD_ADD_STATE_1"|translate}}</h2>
            <md-select aria-label="{{'GUILD_ADD_STATE_1'|translate}}" ng-model="region" ng-change="updateRegion()">
                <md-option value="EU">EU</md-option>
                <md-option value="KR">KR</md-option>
                <md-option value="TW">TW</md-option>
                <md-option value="US">US</md-option>
            </md-select>
            <md-button md-no-ink class="md-primary" ng-repeat="guild in userGuilds"  ng-click="selectGuild(guild)" > {{guild.name}} - {{guild.realm}}</md-button>
        </div>
    </div>
    <div flex>
        <div layout-margin>
            <div flex>
                <h2>{{"GUILD_ADD_STATE_2"|translate}}</h2>
                <md-input-container >
                    <label>{{"SELECTED_GUILD_NAME"|translate}}</label>
                    <input disabled ng-model="guild_ad.name"  required type="text">
                </md-input-container>
                <md-input-container >
                    <label>{{"SELECTED_GUILD_REALM"|translate}}</label>
                    <input disabled ng-model="guild_ad.realm"  required type="text">
                </md-input-container>
            </div>
            <div flex>
                <h3>{{"GUILD_ADD_RECRUITMENT_CLASS"|translate}}</h3>
                <div layout="column"  >
                    <div flex="25" ng-repeat="(role,value) in guild_ad.recruitment">
                        <div layout-margin>
                            <h4>{{role|uppercase|translate}}</h4>
                            <md-checkbox ng-model="guild_adrecruitment[role][class]" ng-repeat="(class,value) in guild_ad.recruitment[role]">{{class|uppercase|translate}}</md-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div flex>
                <h3>{{"GUILD_ADD_RAIDS_PER_WEEK"|translate}}</h3>
                <md-checkbox ng-repeat="(key,value) in guild_ad.raids_per_week" ng_model="guild_ad.raids_per_week[key]">{{key|uppercase|translate}}</md-checkbox>
            </div>
            <div flex>
                <h3>{{"GUILD_ADD_PRIMARY_LANGUAGE"|translate}}</h3>
                <md-select aria-label="{{'GUILD_ADD_PRIMARY_LANGUAGE'|translate}}" ng-model="guild_ad.lang_code">
                    <md-option ng-repeat="language in languages" value="{{language}}">{{"LANG_"+language|uppercase|translate}}</md-option>
                </md-select>
            </div>
            <div flex>
                <h3>{{"GUILD_ADD_RAIDING_STYLE"|translate}}</h3>
                <md-radio-group ng-model="guild_ad.raiding_style">
                    <md-radio-button value="hardcore" aria-label="{{'HARDCORE'|translate}}">{{"HARDCORE"|translate}}</md-radio-button>
                    <md-radio-button value="semi-hardcore" aria-label="{{'SEMI_HARDCORE'|translate}}">{{"SEMI_HARDCORE"|translate}}</md-radio-button>
                    <md-radio-button value="casual" aria-label="{{'CASUAL'|translate}}">{{"CASUAL"|translate}}</md-radio-button>
                </md-radio-group>
            </div>
            <div flex>
                <md-input-container>
                    <h3>{{"GUILD_ADD_DESCRIPTION"|translate}}</h3>
                    <textarea aria-label="{{'GUILD_ADD_DESCRIPTION'|translate}}" ng-model="guild_ad.description"  type="text"></textarea>
                </md-input-container>
            </div>
            <div flex>
                <div layout-margin>
                    <md-button ng-click="submit()" class="md-raised md-primary">{{"SUBMIT"|translate}}</md-button>
                </div>
            </div>
        </div>
    </div>
</div>
