<div layout="column" layout-gt-lg="row" flex >
    <div flex=35 >
        <div layout-margin>
            <h2>{{"GUILD_ADD_STATE_1"|translate}}</h2>
            <md-select ng-model="region" ng-change="updateRegion()">
                <md-option value="EU">EU</md-option>
                <md-option value="KR">KR</md-option>
                <md-option value="TW">TW</md-option>
                <md-option value="US">US</md-option>
            </md-select>
            <md-button md-no-ink class="md-primary" ng-repeat="guild in userGuilds"  ng-click="selectGuild(guild)" > {{guild.name}} - {{guild.realm}}</md-button>
        </div>
    </div>
    <div flex>
        <div layout-margin>
            <div flex>
                <h2>{{"GUILD_ADD_STATE_2"|translate}}</h2>
                <md-input-container >
                    <label>{{"SELECTED_GUILD"|translate}}</label>
                    <input disabled ng-model="guild.name + ' '+guild.realm"  required type="text">
                </md-input-container>
            </div>

            <div flex>
                <h3>{{"GUILD_ADD_RECRUITMENT_CLASS"|translate}}</h3>
                <div layout="column"  >
                    <div flex="25">
                        <div layout-margin>
                            <h4>{{"TANKS"|translate}}</h4>
                            <md-checkbox>{{"PROTECTION_WARRIOR"|translate}}</md-checkbox>
                            <md-checkbox>{{"GUARDIAN_DRUID"|translate}}</md-checkbox>
                            <md-checkbox>{{"PROTECTION_PALADIN"|translate}}</md-checkbox>
                            <md-checkbox>{{"BREWMASTER_MONK"|translate}}</md-checkbox>
                            <md-checkbox>{{"BLOOD_DEATHKNIGHT"|translate}}</md-checkbox>
                        </div>
                    </div>
                    <div flex="25" >
                        <div layout-margin>
                            <h4>{{"HEALS"|translate}}</h4>
                            <md-checkbox>{{"RESTORATION_DRUID"|translate}}</md-checkbox>
                            <md-checkbox>{{"DISCIPLINE_PRIEST"|translate}}</md-checkbox>
                            <md-checkbox>{{"HOLY_PRIEST"|translate}}</md-checkbox>
                            <md-checkbox>{{"HOLY_PALADIN"|translate}}</md-checkbox>
                            <md-checkbox>{{"RESTORATION_SHAMAN"|translate}}</md-checkbox>
                            <md-checkbox>{{"MISTWEAVER_MONK"|translate}}</md-checkbox>
                        </div>
                    </div>
                    <div flex="25" >
                        <div layout-margin>
                            <h4>{{"DISTANT_DPS"|translate}}</h4>
                            <md-checkbox>{{"SHADOW_PRIEST"|translate}}</md-checkbox>
                            <md-checkbox>{{"ELEMENTAL_SHAMAN"|translate}}</md-checkbox>
                            <md-checkbox>{{"HUNTER"|translate}}</md-checkbox>
                            <md-checkbox>{{"WARLOCK"|translate}}</md-checkbox>
                            <md-checkbox>{{"MAGE"|translate}}</md-checkbox>
                        </div>
                    </div>
                    <div flex="25" >
                        <div layout-margin>
                            <h4>{{"MELEE_DPS"|translate}}</h4>
                            <md-checkbox>{{"FERAL_DRUID"|translate}}</md-checkbox>
                            <md-checkbox>{{"DEATHKNIGHT"|translate}}</md-checkbox>
                            <md-checkbox>{{"RETRIBUTION_PALADIN"|translate}}</md-checkbox>
                            <md-checkbox>{{"WINDWALKER_MONK"|translate}}</md-checkbox>
                            <md-checkbox>{{"ENHANCEMENT_SHAMAN"|translate}}</md-checkbox>
                            <md-checkbox>{{"WARRIOR"|translate}}</md-checkbox>
                            <md-checkbox>{{"ROGUE"|translate}}</md-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div flex>
                <h3>{{"GUILD_ADD_RAIDS_PER_WEEK"|translate}}</h3>
                <md-checkbox>{{"1_PER_WEEK"|translate}}</md-checkbox>
                <md-checkbox>{{"2_PER_WEEK"|translate}}</md-checkbox>
                <md-checkbox>{{"3_PER_WEEK"|translate}}</md-checkbox>
                <md-checkbox>{{"4_PER_WEEK"|translate}}</md-checkbox>
                <md-checkbox>{{"5_PER_WEEK"|translate}}</md-checkbox>
                <md-checkbox>{{"6_PER_WEEK"|translate}}</md-checkbox>
                <md-checkbox>{{"7_PER_WEEK"|translate}}</md-checkbox>
            </div>
            <div flex>
                <h3>{{"GUILD_ADD_PRIMARY_LANGUAGE"|translate}}</h3>
                <md-select ng-model="lang_code">
                    <md-option ng-repeat="language in languages" value="{{language}}">{{"LANG_"+language|uppercase|translate}}</md-option>
                </md-select>
            </div>
            <div flex>
                <h3>{{"GUILD_ADD_RAIDING_STYLE"|translate}}</h3>

                <md-radio-group ng-model="raiding_style">
                    <md-radio-button value="hardcore" aria-label="{{'HARDCORE'|translate}}">{{"HARDCORE"|translate}}</md-radio-button>
                    <md-radio-button value="semi-hardcore" aria-label="{{'SEMI_HARDCORE'|translate}}">{{"SEMI_HARDCORE"|translate}}</md-radio-button>
                    <md-radio-button value="casual" aria-label="{{'CASUAL'|translate}}">{{"CASUAL"|translate}}</md-radio-button>
                </md-radio-group>
            </div>
            <div flex>
                <md-input-container>
                    <h3>{{"GUILD_ADD_DESCRIPTION"}}</h3>
                    <textarea ng-model="color"  type="text"></textarea>
                </md-input-container>
            </div>
            <div flex>
                <div layout-margin>
                    <md-button  class="md-raised md-primary">{{"SUBMIT"|translate}}</md-button>
                </div>
            </div>
        </div>
    </div>
</div>
