<section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-cell mdl-cell--3-col">
        <h4>1. Select your region and guild</h4>
        <div id="select-container" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="regionSelect">{{"SELECT_REGION_GUILD"|translate}}</label>
        <select class="mdl-textfield__input" ng-model="region" ng-change="updateRegion()" id="regionSelect" name="regionSelect">
            <option>EU</option>
            <option>KR</option>
            <option>TW</option>
            <option>US</option>
        </select>
        </div>
        <button type="button" ng-click="selectGuild(guild)" class="btn btn-default btn-lg" ng-repeat="guild in userGuilds">
            {{guild.name}} - {{guild.realm}}
        </button>

    </div>
    <div class="mdl-cell mdl-cell--9-col">
        2. Fill the form
    </div>
</section>

    <div class="col-md-8">
        <form>
            <div class="form-group">
                <label for="guildNameInput">{{"GUILD_NAME"|translate}}</label>
                <input ng-model="guild.name" disabled class="form-control" id="guildNameInput">
            </div>
            <div class="form-group">
                <label for="guildRealmInput">{{"GUILD_REALM"|translate}}</label>
                <input ng-model="guild.realm" disabled class="form-control" id="guildRealmInput">
            </div>
            <div class="form-group">
                <label for="guildRegionInput">{{"GUILD_REGION"|translate}}</label>
                <input ng-model="guild.region" disabled class="form-control" id="guildRegionInput">
            </div>
            <div class="form-group">
                <label>{{"CLASS_NEED"|translate}}</label>
                <div class="row">
                    <div class="col-md-3">
                        {{"TANKS"|translate}}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">War Protection
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        {{"HEALS"|translate}}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">War Protection
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">Paladin Protection
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        {{"DPS_MELEE"|translate}}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">War Protection
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        {{"DPS_DISTANT"|translate}}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">War Protection
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{"RAID_TIME_NEED"|translate}}</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">1 / week
                    </label>
                    <label>
                        <input type="checkbox" value="">2 / week
                    </label>
                    <label>
                        <input type="checkbox" value="">3 / week
                    </label>
                    <label>
                        <input type="checkbox" value="">4 / week
                    </label>
                    <label>
                        <input type="checkbox" value="">5 / week
                    </label>
                    <label>
                        <input type="checkbox" value="">6 / week
                    </label>
                    <label>
                        <input type="checkbox" value="">7 / week
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>{{"LANGUAGE_NEED"|translate}}</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Français
                    </label>
                    <label>
                        <input type="checkbox" value="">English
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
