body{color:#333;font-family: 'Open Sans', sans-serif;}
.main-container {max-width:1200px; }
.bnet-logo {background: url("../images/bnet-logo.png") center center no-repeat;background-size:contain;height:160px}