<div class="col-md-5">
    <div class="checkbox-inline">
        <label>
            <input ng-model="ilevel.active" type="checkbox"> iLevel
        </label>
    </div>
    <div class="checkbox-inline">
        <label>
            <input ng-model="ilevel.active" type="checkbox"> iLevel
        </label>
    </div>
    <div class="checkbox-inline">
        <label>
            <input ng-model="ilevel.active" type="checkbox"> iLevel
        </label>
    </div>
    <div class="checkbox-inline">
        <label>
            <input ng-model="ilevel.active" type="checkbox"> iLevel
        </label>
    </div>
    <div class="checkbox-inline">
        <label>
            <input ng-model="ilevel.active" type="checkbox"> iLevel
        </label>
    </div>
    <div class="checkbox-inline">
        <label>
            <input ng-model="ilevel.active" type="checkbox"> iLevel
        </label>
    </div>
    <div class="checkbox-inline">
        <label>
            <input ng-model="ilevel.active" type="checkbox"> iLevel
        </label>
    </div>
</div>
