<div class="realmzone-filter">
    <div class="col-md-5">
        <div class="fw-700 m-l-10 m-b-5">EU</div>
        <div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.en}" uib-tooltip="{{'ENGLISH'|translate}}">
                <label>
                    <input ng-model="realmZones.en" type="checkbox"> En
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.fr}" uib-tooltip="{{'FRENCH'|translate}}">
                <label>
                    <input ng-model="realmZones.fr" type="checkbox"> Fr
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.ge}" uib-tooltip="{{'GERMAN'|translate}}">
                <label>
                    <input ng-model="realmZones.ge" type="checkbox"> Ge
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.sp}" uib-tooltip="{{'SPANISH'|translate}}">
                <label>
                    <input ng-model="realmZones.sp" type="checkbox"> Sp
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.ru}" uib-tooltip="{{'RUSSIAN'|translate}}">
                <label>
                    <input ng-model="realmZones.ru" type="checkbox"> Ru
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.it}" uib-tooltip="{{'ITALIAN'|translate}}">
                <label>
                    <input ng-model="realmZones.it" type="checkbox"> It
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.pt}" uib-tooltip="{{'PORTUGUESE'|translate}}">
                <label>
                    <input ng-model="realmZones.pt" type="checkbox"> Pt
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="fw-700 m-l-10 m-b-5">US</div>
        <div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.pa}" uib-tooltip="{{'USA_PACIFIC'|translate}}">
                <label>
                    <input ng-model="realmZones.pa" type="checkbox"> Pa
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.mo}" uib-tooltip="{{'USA_MOUNTAIN'|translate}}">
                <label>
                    <input ng-model="realmZones.mo" type="checkbox"> Mo
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.ce}" uib-tooltip="{{'USA_CENTRAL'|translate}}">
                <label>
                    <input ng-model="realmZones.ce" type="checkbox"> Ce
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.ea}" uib-tooltip="{{'USA_EASTERN'|translate}}">
                <label>
                    <input ng-model="realmZones.ea" type="checkbox"> Ea
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.oc}" uib-tooltip="{{'OCEANIC'|translate}}">
                <label>
                    <input ng-model="realmZones.oc" type="checkbox"> Oc
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.la}" uib-tooltip="{{'LATIN_AMERICA'|translate}}">
                <label>
                    <input ng-model="realmZones.la" type="checkbox"> LA
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.br}" uib-tooltip="{{'BRAZIL'|translate}}">
                <label>
                    <input ng-model="realmZones.br" type="checkbox"> Br
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="fw-700 m-l-5 m-b-5">Asia</div>
        <div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.tw}" uib-tooltip="{{'TAIWANESE'|translate}}">
                <label>
                    <input ng-model="realmZones.tw" type="checkbox"> Tw
                </label>
            </div>
            <div class="checkbox-inline" ng-class="{'selected':realmZones.kr}" uib-tooltip="{{'KOREAN'|translate}}">
                <label>
                    <input ng-model="realmZones.kr" type="checkbox"> Kr
                </label>
            </div>
        </div>
    </div>
</div>