<td class="bold">
    {{slot}}
</td>
<td class="">
    <a href="//www.wowhead.com/item={{item.id}}" target="_blank" rel="item={{item.id}};bonus={{bonus}};ench={{item.tooltipParams.enchant}};gems={{item.tooltipParams.gem0}};upgd={{item.tooltipParams.upgrade.current}}" class="cursor-pointer">
        <img ng-if="item.icon" ng-src="http://{{character.region}}.media.blizzard.com/wow/icons/18/{{item.icon}}.jpg" alt="{{slot}}" title="{{item.name}}" />
    </a>
</td>
<td class="quality-{{item.quality}}">
    <a ng-if="item.name" href="//www.wowhead.com/item={{item.id}}" target="_blank" rel="item={{item.id}};bonus={{bonus}};ench={{item.tooltipParams.enchant}};gems={{item.tooltipParams.gem0}};upgd={{item.tooltipParams.upgrade.current}}" class="cursor-pointer">
        {{item.name}}
    </a>
    <span class="quality-1" ng-if="!item.name">n/a</span>
</td>
<td>
    {{item.itemLevel}}
</td>