<script type="text/ng-template" id="messagePopup">
	<div class="p-15 p-t-0">
		<div class="modal-body text-center p-t-0">
		    <div class="">
		    	<a href="{{ apiUrl }}/auth/bnet" class="btn btn-inverse m-t-15" ng-if="!user || !user.id">
		    		{{ "CONNECT_BNET"|translate }}
                    <span class="login-bnet">
                        <span class="icon-small bnet"></span>
                        Battle.net
                    </span>
		    	</a>
				<div ng-if="characterAds.length === 0 &&  guildAds.length === 0" class="m-b-10 m-t-15">
					{{ "MESSAGE_NO_OBJECT_1"|translate }} <a href="/#/account" class="txt-underline">{{ "MESSAGE_NO_OBJECT_2"|translate }}</a>.
				</div>
				<div ng-if="characterAds.length === 0 && guildAds.length === 0">
						<a href="/#/account" class="btn btn-inverse">
							{{ "MESSAGE_NO_OBJECT_3"|translate }}
						</a>
				</div>
				<div class="text-left m-t-15 m-b-10" ng-if="characterAds.length > 0">
					{{ "MESSAGE_OPEN_AS_CHARACTER"|translate }}
				</div>
				<a ng-if="character._id != characterAd._id" href="/#/messages/{{character._id || guild._id}}/{{ characterAd._id}}/" class="btn btn-inverse dis-block text-left class-{{characterAd.bnet.class}}" ng-class="{'m-b-10': !$last, 'm-t-0': $first }" ng-repeat="characterAd in characterAds">
					<span class="icon-small icon-fix class-{{characterAd.bnet.class}}"></span><span class="m-l-5">{{characterAd.name}}</span> - {{characterAd.realm}} ({{characterAd.region|uppercase}})
				</a>
				<div class="text-left m-b-10 m-t-15" ng-if="guildAds.length > 0">
					{{ "MESSAGE_OPEN_AS_GUILD"|translate }}
				</div>
				<a ng-if="guild._id != guildAd._id" href="/#/messages/{{character._id || guild._id}}/{{ guildAd._id}}/" class="btn btn-inverse dis-block text-left faction-{{guildAd.bnet.side}}" ng-class="{'m-b-10': !$last, 'm-t-0': $first }"  ng-repeat="guildAd in guildAds">
					<span class="icon-small icon-fix faction-{{guildAd.bnet.side}}"></span><span class="m-l-5">{{guildAd.name}}</span> - {{guildAd.realm}} ({{guildAd.region|uppercase}})
				</a>
		    </div>
		</div>
	    <div class="modal-footer">
	        <button class="btn btn-inverse" ng-click="cancel()">{{
	            "CANCEL"|translate }}
	        </button>
	    </div>
	</div>
</script>