<div class="row">
    <div class="col-md-12">
        <h1>{{ characterAd.name }} - {{ characterAd.region }} {{ characterAd.realm }}</h1>
        <h2>
            Role : 
            <span ng-repeat="(role,value) in characterAd.role" ng-if="value == true">{{ role|uppercase|translate }} </span>
        </h2>
        <h2>
            Raid per week :
            <span ng-repeat="(key,value) in characterAd.raids_per_week" ng-if="value == true">{{ key|uppercase|translate }} / </span>
        </h2>
        <h2>Primary language : {{ characterAd.language }} </h2>
        <h2>Description : {{ characterAd.description }}</h2>
        <h2>Battletag : {{ characterAd.user.battleTag}}</h2>
        <code>{{characterAd.character}}</code>
    </div>
</div>