
<div class="container character-list" infinite-scroll="getMoreCharacters()">
    <h1>Characters</h1>
    <div class="form-inline filters">
        <div class="form-group">
            <div class="realm-search-input-container">
                <div class="form-group has-feedback" >
                    <input placeholder="Enter a realm name" ng-model="realmSearchText" ng-model-options="{ debounce: 500 }" ng-change="realmSearch()" class="form-control" id="realm-search-input" ng-blur="clearRealmResult()">
                    <i ng-if="realmSearchLoading" class="fa fa-spinner fa-spin form-control-feedback"></i>
                    <div class="realm-search-results col-md-12 text-left" ng-if="realmSearchResult">
                        <div>
                            <div class="realm" ng-click="setRealm(realm)" ng-repeat="realm in realmSearchResult">
                                {{realm.name}} ({{realm.region|uppercase}})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    Level 100 <input ng-model="filters.lvlmax" ng-change="updateFilters()" type="checkbox">
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    Transfert <input ng-model="filters.transfert" ng-change="updateFilters()" type="checkbox">
                </label>
            </div>
        </div>

    </div>

    <div class="row character" ng-repeat="character in characters">
        <div class="col-md-1">
            <div class=" icon-large faction-{{character.bnet.faction}}"></div>
        </div>
        <div class="col-md-3">
            <div>
                <h2>
                    <a class="icon-medium class-{{character.bnet.class}}" href="#/character/{{ character.region }}/{{ character.realm }}/{{ character.name }}/">
                        {{character.name}}
                    </a>
                </h2>

            </div>
            <div>
                {{character.realm}} ({{character.region|uppercase}}) - lvl {{character.bnet.level}}
            </div>
            <div>
                Updated <span am-time-ago="character.ad.updated"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div>
                ilvl : {{character.bnet.items.averageItemLevelEquipped}}
            </div>
            <div>
                <span wlfg-legendary-ring="{{character.bnet.items.finger1}}"></span>
                <span wlfg-legendary-ring="{{character.bnet.items.finger2}}"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Transfert : <i ng-class="character.ad.transfert ? 'fa-check' : 'fa-times'" class="fa "></i>
            </div>
            <div>
                Language : {{character.ad.language}}
            </div>
            <div ng-if="character.ad.role.tank || character.ad.role.healer || character.ad.role.dps">
                Role :
                <span ng-if="character.ad.role.tank" class="icon-small tank"></span>
                <span ng-if="character.ad.role.healer" class="icon-small heal"></span>
                <span ng-if="character.ad.role.dps" class="icon-small dps"></span>
            </div>
            <div>
                Raids per week :
                <span ng-if="character.ad.raids_per_week['1_per_week']">1</span>
                <span ng-if="character.ad.raids_per_week['2_per_week']">2</span>
                <span ng-if="character.ad.raids_per_week['3_per_week']">3</span>
                <span ng-if="character.ad.raids_per_week['4_per_week']">4</span>
                <span ng-if="character.ad.raids_per_week['5_per_week']">5</span>
                <span ng-if="character.ad.raids_per_week['6_per_week']">6</span>
                <span ng-if="character.ad.raids_per_week['7_per_week']">7</span>
            </div>
        </div>
        <div class="col-md-5 character-class-{{character.bnet.class}}">
            <span wlfg-warcraft-logs="{{character.warcraftLogs.logs}}"></span>
        </div>
    </div>
</div>