<section class="header header-character">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 ng-if="character"><span class="icon-medium faction-{{character.bnet.faction}}"></span><span class="icon-medium class-{{character.bnet.class}}">{{ character.name }}</span></h1>
                    <h1  ng-if="!character">{{"CHARACTER_NOT_FOUND"|translate}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span ng-if="character">{{ character.realm }} - {{ character.region|uppercase}}</span>
                    <span ng-if="!character">{{ "CHARACTERS_DESCRIPTION"|translate}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="character-read">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 m-b-20">
                        <button ng-click="updateCharacter()" type="button" class="btn btn-default" aria-label="Update Character">
                            <i class="fa fa-refresh"></i> {{"UPDATE_CHARACTER"|translate}}
                        </button>
                        <span class="m-l-10" ng-if="queuePosition">
                            {{"QUEUE_POSITION"|translate}} {{queuePosition}} - {{"QUEUE_CHECK_MESSAGE"|translate}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img ng-src="https://render-api-{{ character.region}}.worldofwarcraft.com/static-render/{{ character.region}}/{{character.bnet.thumbnail}}" alt="avatar" class="img-responsive" />
                                    </div>
                                    <div class="col-md-5">
                                        <div class="class-{{character.bnet.class}} f-20 overflow">{{ character.name }}</div>
                                        <div class="f-16 faction-{{character.bnet.faction}} overflow"> {{character.bnet.guild.name}}</div>
                                        <div class="overflow">{{ character.realm }} - {{ character.region|uppercase}}</div>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <div>
                                            <span ng-if="character.ad.role.tank" class="m-l-10"><img src="/assets/images/icon/32/tank.png" /></span>
                                            <span ng-if="character.ad.role.healer" class="m-l-10"><img src="/assets/images/icon/32/healing.png" /></span>
                                            <span ng-if="character.ad.role.melee_dps" class="m-l-10"><img src="/assets/images/icon/32/dps.png" /></span>
                                            <span ng-if="character.ad.role.ranged_dps" class="m-l-10"><img src="/assets/images/icon/32/melee-dps.png" /></span>
                                        </div>
                                        <div class="m-t-10">
                                            <span class="m-l-10" ng-if="character.ad.languages.length > 0" ng-repeat="language in character.ad.languages">
                                                <img ng-src="/assets/images/flag/32/{{language|lowercase}}.png" alt="flag-{{language|lowercase}}" title="{{'LANG_'+language|uppercase|translate}}" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="character.ad.description" class="row m-t-10">
                                    <div class="col-md-12">
                                        <pre class="m-t-5 m-b-0">{{character.ad.description}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Progress -
                            </div>
                            <div class="panel-body">
                                <span wlfg-progress="{{character.bnet.progression.raids}}"></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="bold">Gear</span>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        Item level :
                                        <span ng-class="{legendary:character.bnet.items.averageItemLevelEquipped>=725,epic:character.bnet.items.averageItemLevelEquipped>=715&&character.bnet.items.averageItemLevelEquipped<725,rare:character.bnet.items.averageItemLevelEquipped>=705&&character.bnet.items.averageItemLevelEquipped<715,uncommon:character.bnet.items.averageItemLevelEquipped<705}">
                                            {{character.bnet.items.averageItemLevelEquipped}}
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        Item level bag :
                                        <span ng-class="{legendary:character.bnet.items.averageItemLevel>=725,epic:character.bnet.items.averageItemLevel>=715&&character.bnet.items.averageItemLevel<725,rare:character.bnet.items.averageItemLevel>=705&&character.bnet.items.averageItemLevel<715,uncommon:character.bnet.items.averageItemLevel<705}">
                                            {{character.bnet.items.averageItemLevel}}
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        Ring item level :
                                        <span wlfg-legendary-ring wlfg-legendary-ring-1="{{character.bnet.items.finger1}}" wlfg-legendary-ring-2="{{character.bnet.items.finger2}}"></span>
                                    </div>
                                    <div class="col-md-2">
                                        T18 equipped :
                                    </div>
                                    <div class="col-md-2">
                                        Audit : ??
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-condensed">
                                    <tr ng-repeat="(key, item) in character.bnet.items" ng-if="$index > 1 && $index <= 8">
                                        <td class="bold">
                                            {{key}}
                                        </td>
                                        <td class="">
                                            <a rel="item={{item.id}}" class="cursor-pointer">
                                                <img ng-src="http://{{character.region}}.media.blizzard.com/wow/icons/18/{{item.icon}}.jpg" alt="{{key}}" title="{{item.name}}" />
                                            </a>
                                        </td>
                                        <td class="quality-{{item.quality}}">
                                            <a rel="item={{item.id}}" class="cursor-pointer">{{item.name}}</a>
                                        </td>
                                        <td>
                                            {{item.itemLevel}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-condensed">
                                    <tr ng-repeat="(key, item) in character.bnet.items" ng-if="$index > 8 && $index <= 16">
                                        <td class="bold">
                                            {{key}}
                                        </td>
                                        <td class="">
                                            <a rel="item={{item.id}}" class="cursor-pointer">
                                                <img ng-src="http://{{character.region}}.media.blizzard.com/wow/icons/18/{{item.icon}}.jpg" alt="{{key}}" title="{{item.name}}" />
                                            </a>
                                        </td>
                                        <td class="quality-{{item.quality}}">
                                            <a rel="item={{item.id}}" class="cursor-pointer">{{item.name}}</a>
                                        </td>
                                        <td>
                                            {{item.itemLevel}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-condensed">
                                    <tr wlfg-item="{{character.bnet.items['head']}}"></tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-condensed">
                                    <tr ng-repeat="(key, item) in character.bnet.items" ng-if="$index > 17 && $index < 19">
                                        <td class="bold">
                                            {{key}}
                                        </td>
                                        <td class="">
                                            <a rel="item={{item.id}}" class="cursor-pointer">
                                                <img ng-src="http://{{character.region}}.media.blizzard.com/wow/icons/18/{{item.icon}}.jpg" alt="{{key}}" title="{{item.name}}" />
                                            </a>
                                        </td>
                                        <td class="quality-{{item.quality}}">
                                            <a rel="item={{item.id}}" class="cursor-pointer">{{item.name}}</a>
                                        </td>
                                        <td>
                                            {{item.itemLevel}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                    <h2>Character Data</h2>
                    <div ng-if="character.bnet">
                        <code>{{character.bnet}}</code>
                    </div>
                    <div ng-if="!character.bnet">
                        This character is not yet in our database
                    </div>
                    <h2>Character Wlogs</h2>
                    <div ng-if="character.warcraftLogs">
                        <code>{{character.warcraftLogs}}</code>
                    </div>
                    <div ng-if="!character.warcraftLogs">
                        This character logs are not yet in our database or doesn't exist. Try update
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>