<div class="container">
    <div clas="row" >
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="regionSelect">{{"SELECT_REGION_CHARACTER"|translate}}</label>
                    <select ng-model="region" ng-change="updateRegion()" class="form-control" id="regionSelect">
                        <option value="eu">EU</option>
                        <option value="kr">KR</option>
                        <option value="tw">TW</option>
                        <option value="us">US</option>
                    </select>
                </div>
            </form>
            <p ng-repeat="character in userCharacters">
                <a class="btn btn-default" ng-click="createCharacterAd(region,character.realm,character.name)" role="button">
                    {{character.name}} ({{character.level}}) - {{character.realm}}
                </a>
            </p>
        </div>
    </div>
</div>