<section class="header  header-character">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1><span class="icon-medium faction-{{character.bnet.faction}}"></span><span class="icon-medium class-{{character.bnet.class}}">{{ character.name }}</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ character.realm }} - {{ character.region|uppercase }}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container character-update">
    <div class="row">
        <div class="col-md-12">
            <form class="m-b-20">
                <div class="hide">
                    <input ng-model="character.name" disabled class="form-control" id="characterNameInput">
                    <input ng-model="character.realm" disabled class="form-control" id="characterRealmInput">
                    <input ng-model="character.region" disabled class="form-control" id="characterRegionInput">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input ng-model="character.ad.lfg" type="checkbox"> <strong>{{"CHARACTER_CREATE_LFG"|translate}}</strong></label>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"CHARACTER_CREATE_ROLE"|translate}}</label>
                    <div class="row">
                        <div ng-repeat="(role,value) in character.ad.role" class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="character.ad.role[role]" type="checkbox">
                                    <span class="icon-small {{role|lowercase}}"><strong>{{role|uppercase|translate}}</strong></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"CHARACTER_CREATE_PRIMARY_LANGUAGE"|translate}}</label>
                    <div isteven-multi-select
                         input-model="languages"
                         output-model="selectedLanguages"
                         button-label="name"
                         item-label="name"
                         output-properties="id"
                         tick-property="selected"
                         max-height="300px"
                         class="multiselect-inverse">
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"CHARACTER_CREATE_TRANSFERT"|translate}}</label>
                    <div class="checkbox">
                        <label>
                            <input ng-model="character.ad.transfert" type="checkbox"> {{"ALLOW_TRANSFERT"|translate}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"BATTLE_TAG"|translate}} ({{user.battleTag}})</label>
                    <div class="checkbox">
                        <label>
                            <input ng-model="character.ad.btag_display" type="checkbox"> {{"DISPLAY_ON_PROFILE"|translate}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"CHARACTER_CREATE_DESCRIPTION"|translate}}</label>
                    <textarea ng-model="character.ad.description" placeholder="{{'CHARACTER_CREATE_DESCRIPTION_PLACEHOLDER'|translate}}" class="form-control" rows="6"></textarea>
                    <a href="https://help.github.com/articles/markdown-basics/" class="f-right m-t-5 txt-underline" target="_blank">{{"HELP_FORMATTING"|translate}}</a>
                </div>
                <div class="form-group">
                    <label>{{"CHARACTER_CREATE_RPW"|translate}}</label>
                    <div class="row">
                        <div class="col-md-6">
                            {{character.ad.raids_per_week.min}} - {{ character.ad.raids_per_week.max }}
                            <angular-ranger class="ranger-inverse m-t-10" min="1" max="7" step="1" min-value="character.ad.raids_per_week.min" max-value="character.ad.raids_per_week.max"></angular-ranger>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"CHARACTER_CREATE_TIMEZONE"|translate}}</label>
                    <div class="css3-metro-dropdown css3-metro-dropdown-inverse">
                        <select ng-model="character.ad.timezone" class="form-control">
                            <option ng-repeat="timezone in timezones" value="{{timezone}}">{{"TIMEZONE_"+timezone|uppercase|translate}} (GMT{{timezone | wlfgTimezoneOffset}})</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"CHARACTER_CREATE_PLAY_TIME"|translate}}</label>
                    <table class="table table-condensed">
                        <tr ng-class="{'played':obj.play===true}" ng-repeat="(day,obj) in character.ad.play_time">
                            <td class="play text-center"><input ng-model="obj.play" type="checkbox"></td>
                            <td class="day">{{day|uppercase|translate}}</td>
                            <td class="start">
                                <div class="row" ng-show="obj.play">
                                    <div class="col-md-3 text-right">
                                        <label>Start at :</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="css3-metro-dropdown">
                                            <select wlfg-convert-to-number ng-model="obj.start.hour" class="form-control">
                                                <option value="0">00</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="css3-metro-dropdown">
                                            <select wlfg-convert-to-number ng-model="obj.start.min" class="form-control">
                                                <option value="0">00</option>
                                                <option value="15">15</option>
                                                <option value="30">30</option>
                                                <option value="45">45</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="end">
                                <div class="row" ng-show="obj.play">
                                    <div class="col-md-3 text-right">
                                        <label>End at :</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="css3-metro-dropdown">
                                            <select wlfg-convert-to-number ng-model="obj.end.hour" class="form-control">
                                                <option value="0">00</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="css3-metro-dropdown">
                                            <select wlfg-convert-to-number ng-model="obj.end.min" class="form-control">
                                                <option value="0">00</option>
                                                <option value="15">15</option>
                                                <option value="30">30</option>
                                                <option value="45">45</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--div class="form-group">
                    <label>{{"CHARACTER_CREATE_TIMEZONE"|translate}}</label>
                    <div class="css3-metro-dropdown css3-metro-dropdown-inverse">
                        <select ng-model="character.ad.timezone" class="form-control">
                            <option ng-repeat="timezone in timezones" value="{{timezone}}">{{"TIMEZONE_"+timezone|uppercase|translate}}</option>
                        </select>
                    </div>
                </div-->
                <button type="submit" class="btn btn-default" ng-click="save()">{{"SAVE"|translate}}</button>
            </form>
        </div>
    </div>
</div>
