
<div class="container" infinite-scroll="getMoreCharacters()">
    <h1>Characters</h1>
    <div class="checkbox">
        <label>
            <input ng-model="filters.lvlmax" ng-change="updateFilters()" type="checkbox"> Level 100
        </label>
    </div>
    <table class="table table-condensed" >
        <thead>
        <tr>
            <th>Name</th>
            <th>Realm</th>
            <th>Region</th>
            <th>Language</th>
            <th>Level</th>
            <th>Guild</th>
            <th>Ring</th>
            <th>Role</th>
            <th>WarcraftLog</th>
            <th>Migration</th>
            <th>Raids per week</th>
            <th>Last update</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="character in characters">
            <td>
                <a class="icon class-{{character.bnet.class}}" href="#/character/{{ character.region }}/{{ character.realm }}/{{ character.name }}/">
                    {{character.name}}
                </a>
            </td>
            <td>
                {{character.realm}}
            </td>
            <td>
                {{character.region|uppercase}}
            </td>
            <td>
                {{character.ad.language}}
            </td>
            <td>
                {{character.bnet.level}}
            </td>
            <td class="guild faction-{{character.bnet.faction}}">
                {{character.bnet.guild.name}}
            </td>
            <td>
                todo
            </td>
            <td>
                todo
            </td>
            <td>
                todo
            </td>
            <td>
                todo
            </td>
            <td>
                todo
            </td>
            <td>
                <span am-time-ago="character.updated"></span>
            </td>
        </tr>
        </tbody>
    </table>

</div>