<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button ng-click="updateCharacter()" type="button" class="btn btn-default" aria-label="Update Character">
                <i class="fa fa-refresh"></i> Update Character
            </button>
            <div ng-if="queuePosition">
                <p>
                    Position in queue :  {{queuePosition}}
                </p>
                <p>
                    Please check back this page later
                </p>
            </div>
            <div ng-if="!character">
                <h1>Character not found</h1>
                Try update to import
            </div>
            <div ng-if="character">
                <h1><span class="icon-medium class-{{character.bnet.class}}">{{ character.name }}</span> {{ character.realm }} ({{ character.region|uppercase }})</h1>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Recruitment</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Raids per week</h3>
                                <div ng-repeat="(key,value) in character.ad.raids_per_week" >
                                    {{key|uppercase|translate}}
                                    <i class="fa fa-times" ng-if="!character.ad.raids_per_week[key]"></i>
                                    <i class="fa fa-check" ng-if="character.ad.raids_per_week[key]"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-if="character.ad.description!=''">
                                <h3>Description</h3>
                                <pre>{{character.ad.description}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Recruitment Data</h2>
                <div ng-if="character.ad">
                    <code>{{character.ad}}</code>
                </div>
                <div ng-if="!character.ad">
                    This character is not looking for a guild
                </div>
                <h2>Character Data</h2>
                <div ng-if="character.bnet">
                    <code>{{character.bnet}}</code>
                </div>
                <div ng-if="!character.bnet">
                    This character is not yet in our database
                </div>
                <h2>Character Wlogs</h2>
                <div ng-if="character.warcraftLogs">
                    <code>{{character.warcraftLogs}}</code>
                </div>
                <div ng-if="!character.warcraftLogs">
                    This character logs are not yet in our database or doesn't exist. Try update
                </div>
            </div>
        </div>
    </div>
</div>