//Variables
$font-family:  'Open Sans', sans-serif;

$light: 100;
$regular: 400;
$bold: 600;

$black: #151515;
$grey: #252525;
$red: #260303;
$white: #fff;


body{
  color: $white;
  background-color:$black;
}


@import "../modules/all";