//Variables
$font-family:  'Open Sans', sans-serif;

$light: 100;
$regular: 400;
$bold: 600;

$black: #151515;
$grey: #252525;
$hover: #333333;
$red: #260303;
$white: #fff;


body{
  color: $white;
  background-color:$black;
}

.form-control {
	border-radius: 0px;
}

.list-group-item:first-child, .list-group-item:last-child {
	border-radius: 0px;
}

.dropdown-menu {
	border-radius: 0px;
	background-color: #212121;
	color: $white;
	margin: 0px;
	padding: 0px;
}

.dropdown-menu>li>a {
	color: $white;
	padding: 10px 20px
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color: $hover;
	color: $white;
}

.dropdown-menu .divider {
	margin: 0px;
}

@import "../modules/all";