.character-list {
  .cartouche {
    background-color: $black;
    background-repeat: repeat-y;
  }

  .cartouche-faction-0 {
    background-image: url(../images/border-alliance.png);
  }

  .cartouche-faction-1 {
    background-image: url(../images/border-horde.png);
  }

  .character-faction-0 {
    background: url(../images/cartouche-logo-alliance.png) 115px center no-repeat;
  }

  .character-faction-1 {
    background: url(../images/cartouche-logo-horde.png) 115px center no-repeat;  
  }

  .character{
    min-height: 128px;
    position: relative;
    padding: 10px 30px 10px 20px;
    margin: 0 0 10px 0;
    border:1px solid $black;

    .character-info-padding {
      padding-left: 41px;
    }

    .ring img{width:16px}

    .warcraft-logs{
      .icon-small {margin-left:10px;}
    }

    .character-timestamp {
      font-style: italic;
      font-size: 11px;
      position: absolute;
      transform: rotate(-90deg);
      display: flex;
      align-items :center;
      right: 0px;
      top: 0px;
      height:100%
    }

    .name {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }
  }

  .filters {
    background-color: $black;
    padding-top: 20px;

    .realm-search-input-container i {
      color: black;
      margin-top: 10px;
      with: auto;
      height: auto
    }
    .realm-search-results {
      position: absolute;
      background-color: $black;
      padding: 20px;
      z-index: 1;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border: 1px solid #66AFE9;
    }
    .realm{
      cursor:pointer;
      padding:5px;
      &:hover{
        background-color:$red;
      }
    }

  }

}

.character-read{

}