.dashboard-intro{
  color:#fff;
  background: url('../images/dashboard-intro-bg.png') no-repeat center center;
  background-size:contain;
  height:391px;

  h1{
    background: url('../images/warcraftlfg-logo.png') no-repeat center center;
    background-size:contain;
    color:transparent;
    height:82px;
    margin:100px 0 0 0;
  }

}

.dashboard-form{
  padding:50px 0;
  background-color:#111;
}

.dashboard-table{
  padding:50px 0;
}
.dashboard-stats{
  padding:30px 0;
  background-color:#111;
}