.guild-list {
  .cartouche {
    background-color: $black;
    background-repeat: repeat-y;
  }

  .cartouche-faction-0 {
    background-image: url(../images/border-alliance.png);
  }

  .cartouche-faction-1 {
    background-image: url(../images/border-horde.png);
  }

  .guild-faction-0 {
    background: url(../images/cartouche-logo-alliance.png) 115px center no-repeat;
  }

  .guild-faction-1 {
    background: url(../images/cartouche-logo-horde.png) 115px center no-repeat;  
  }

  .guild{
    min-height: 128px;
    position: relative;
    padding: 10px 30px 10px 60px;
    margin: 0 0 10px 0;
    border:1px solid $black;

    .guild-timestamp {
      font-style: italic;
      font-size: 11px;
      position: absolute;
      -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
      display: inline;
      align-items :center;
      left: 98%;
      top: 50%;
      width: 128px;
      text-align: center;
    }

    .warcraft-logs{
      .icon-small {margin-left:10px;}
    }
  }

  .filters {
    background-color: $black;
    padding-top: 20px;

    .realm-search-input-container i {
      color: black;
      margin-top: 10px;
      with: auto;
      height: auto
    }
    .realm-search-results {
      position: absolute;
      background-color: $black;
      padding: 20px;
      z-index: 1;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border: 1px solid #66AFE9;
    }
    .realm{
      cursor:pointer;
      padding:5px;
      &:hover{
        background-color:$red;
      }
    }

  }


}

.guild-read {
  .guild-description {
    word-break: break-word;
    padding: 10px;
    background: $grey;

    p:last-child {
      margin-bottom: 0px;
    }

    a {
      text-decoration: underline;
    }
  }
}

.guild-update{
  tr{
    td {
      text-decoration: line-through;
      &.start,&.end{
        width:40%;
      }
      &.play{
        width:5%;
      }
    }
    &.played td {
      text-decoration:none;
    }

    label{
      line-height:29px;
    }
  }
}