.message {

  .message-list, .message-content {
    background-color: $black;

    .active {
      background-color: $red;
    }
  }

  .message-list {
    overflow-y: hidden;

    .scroller {
      height: 500px;
      overflow-y: hidden;
      position: relative;
    }

    .message-conversation:hover {
      background-color: #260303;
    }

    a {
      text-decoration: none !important;
    }

  }

  .message-content {

    .scroller {
      height: 500px;
      overflow-y: hidden;
      position: relative;
    }

    .messages {

      .ps-scrollbar-y-rail:hover {
        background-color: transparent;
      }

      .ps-scrollbar-y-rail {
        background-color: transparent;
        opacity: 1;
      }

      .ps-scrollbar-y-rail>.ps-scrollbar-y {
        background-color: #393D46;
      }

      .separator {
        width: 100%;
        border: 0;
        border-top: 1px solid #eee;
        opacity: 0.2;
      }

      .message-text:before {
        font-family: 'FontAwesome';
        content: '\f111';
        padding-right: 5px;
        font-size: 5px;
        position: absolute;
        left: 17px;
        top: 7px;
        color: #48525F;
      }

      .message-text {
          padding-left: 30px;
      }
    }

    .message-form-submit {
      border-top: 1px solid white;

      .message-submit-container {
          width: 50px;
          text-align: center;
      }

    }
  }
}

.message-count {
  position: absolute;
  margin: 0;
  left: 2px;
  top: 5px;
  background-color: #de2f2f;
  border-radius: 0px;
  padding: 2px 5px;
  font-size: 11px;
}

.message-count-list {
  position: absolute;
  margin: 0;
  right: 7px;
  top: -4px;
  background-color: #de2f2f;
  border-radius: 0px;
  padding: 2px 5px;
}

.message-picto {
  width: 21px;
}

@media only screen and (max-width : 992px) {
  .message.list .message-content {
    display: none;
  }

  .message.content .message-list {
    display: none;
  }
}