.navbar {
  position:fixed;
  width:100%;
  z-index: 9;
  opacity:0.97;
  margin-bottom:0px;
  border-bottom: 1px solid $white;
  background-color: $black;
  a {
    color: $white;
  }
  h1{
    a{
      height:100%;
      width:223px;
      display:block;
      &:hover{
        text-decoration:none;
      }
    }
    margin:0;
  }
  .navbar-header{
    .navbar-toggle{
      padding:0;
    }
  }
  .navbar-brand {
    background: url('../images/warcraftlfg-logo-navbar.png') no-repeat 15px center ;
    color:transparent;
    margin-right: 20px;
    height:100%;
    width:223px;
    
  }
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: $hover;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: $hover;
}

