<table class="table table-condensed character-class-{{character.bnet.class}}" ng-if="warcraftLogs != null">
	<tbody>
	    <tr class="" ng-if="difficulty[0] || difficulty[1] || difficulty[2] || difficulty[3]" ng-repeat="(key,difficulty) in warcraftLogs">
	        <td class="bold">{{"RAID_DIFFICULTY_LONG_"+key|translate}}</div>
	        <td ng-class="{legendary:stat.median>=95,epic:stat.median>=75&&stat.median<95,rare:stat.median>=50&&stat.median<75,uncommon:stat.median>=25&&stat.median<50,common:stat.median<25}" ng-repeat="(spec,stat) in difficulty" class="">
	        	<span tooltip-placement="top" uib-tooltip="{{stat.number}} {{'BOSS'|translate }}">
		        	<span  class="spec-{{spec}} v-center" ng-if="stat"></span>
		        	<span class="m-l-10" ng-if="stat">{{stat.median}}%</span>
	        	</span>
	        </td>
	    </tr>
	</tbody>
</table>

<div ng-if="warcraftLogs == null" class="panel panel-default">
	<div class="panel-body">
    	{{"NO_DATA_ON_WARCRAFTLOGS"|translate}}
    </div>
</div>