<div class="row">
    <div class="col-md-6">
        <h3>Dernières guildes inscrites </h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="guildAd in guildAds">
                <a href="#/guild/{{ guildAd.region }}/{{ guildAd.realm }}/{{ guildAd.name }}/">
                    {{guildAd.name}} - {{guildAd.realm}} - {{guildAd.region}} - <span am-time-ago="guildAd.updated"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Derniers personnages inscrits </h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="characterAd in characterAds">
                <a href="#/character/{{ characterAd.region }}/{{ characterAd.realm }}/{{ characterAd.name }}/">
                    {{characterAd.name}} - {{characterAd.realm}} - {{characterAd.region}} - <span am-time-ago="characterAd.updated"></span>
                </a>
            </li>
        </ul>
    </div>
</div>


<h2>Dashboard</h2>
<code>
    - Counters (Guild & Player search).<br/>
    - Description
</code>