<div class="dashboard-intro">
    <div class="container">
    </div>
</div>
<div class="dashboard-form">
    <div class="container ">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{"DASHBOARD_SEARCH_TYPE"|translate}}</label>
                        <div class="col-md-9">
                            <span class="css3-metro-dropdown">
                                <select ng-model="form.type" class="form-control">
                                    <option value="guild">{{ "GUILD"|translate }}</option>
                                    <option value="character">{{ "CHARACTER"|translate }}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{"DASHBOARD_SEARCH_FACTION"|translate}}</label>
                        <div class="col-md-9">
                            <span class="css3-metro-dropdown">
                                <select ng-model="form.faction" class="form-control">
                                    <option value="">{{"ALL_FACTION"|translate}}</option>
                                    <option value="0">{{"ALLIANCE"|translate}}</option>
                                    <option value="1">{{"HORDE"|translate}}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{"DASHBOARD_SEARCH_ZONE"|translate}}</label>
                        <div class="col-md-9">
                            <div isteven-multi-select
                                 input-model="realmZones"
                                 button-label="name"
                                 output-model="form.realmZones"
                                 item-label="name"
                                 output-properties="region locale zone cities"
                                 tick-property="selected"
                                 group-property="msGroup"
                                 translation="localRealmZones"
                            >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{"DASHBOARD_SEARCH_LANGUAGE"|translate}}</label>
                        <div class="col-md-9">
                            <span class="css3-metro-dropdown">
                                <select ng-model="form.language" class="form-control">
                                    <option value="">{{"LANG_"|uppercase|translate}}</option>
                                    <option ng-repeat="language in languages" value="{{language}}">{{"LANG_"+language|uppercase|translate}}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" ng-click="CTAFormSubmit()" class="btn btn-inverse">
                                {{"SEARCH"|translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5 text-center dashboard-stats">
                <div class="row">
                    <div class="col-md-12">
                        <div class="character-picto"></div>
                        <div class="f-18 m-b-20">{{characterAdsCount.count}} {{"CHARACTERS_ADS"|translate}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="guild-picto"></div>
                        <div class="f-18 m-b-20">{{guildAdsCount.count}} {{"GUILDS_ADS"|translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="dashboard-table">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <h3 class="m-b-20">{{"DASHBOARD_LAST_GUILDAD"|translate}}</h3>
                <table class="table table-condensed">
                    <tr ng-repeat="guild in guildAds">
                        <td class="faction-{{guild.bnet.side}}">
                            <a href="#/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/"
                               class="bold txt-underline">
                                {{guild.name}}
                            </a>
                        </td>
                        <td>
                            {{guild.realm}}
                        </td>
                        <td>
                            {{guild.region|uppercase}}
                        </td>
                        <td class="hidden-xs">
                            {{"UPDATED"|translate}} <span am-time-ago="guild.ad.updated"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3 class="m-b-20">{{"DASHBOARD_LAST_CHARACTERAD"|translate}}</h3>
                <table class="table table-condensed">
                    <tr ng-repeat="character in characterAds">
                        <td class="icon-small class-{{character.bnet.class}}">
                            &nbsp;&nbsp;
                        </td>
                        <td class="class-{{character.bnet.class}}">
                            <a href="#/character/{{ character.region }}/{{ character.realm }}/{{ character.name }}/"
                               class="bold txt-underline class-{{character.bnet.class}}">
                                {{character.name}}
                            </a>
                        </td>
                        <td>
                            {{character.realm}}
                        </td>
                        <td>
                            {{character.region|uppercase}}
                        </td>
                        <td class="hidden-xs">
                            {{"UPDATED"|translate}} <span am-time-ago="character.ad.updated"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>