<span ng-if="progress.progress" ng-class="progress.difficultyClass" class="cursor-pointer bd-b-d" tooltip-placement="top" uib-tooltip-template="'myTooltipTemplate.html'" tooltip-is-open="false">
	<span>{{ progress.progress }}</span>/<span>{{ progress.total }}</span> ({{ progress.difficulty }})
</span>
<span ng-if="!progress.progress" class="italic" uib-tooltip-template="'myTooltipTemplate.html'">
    0/13 (N)
</span>

<script type="text/ng-template" id="myTooltipTemplate.html">
  <div class="text-left txt-underline">{{ progress.name }}</div>
  <div class="{{ tooltip.difficulty }} text-left" ng-repeat="tooltip in progress.tooltip">
  	{{ tooltip.boss }}
  </div>
</script>