<div class="dashboard-intro-parser"></div>
<wlfg-guild-add-popup></wlfg-guild-add-popup>
<div class="bg-black p-t-20 p-b-20">
    <div class="container">
        <div class="row">
        	<div class="col-md-12 text-center">
                <div class="m-b-20 bold">
                    {{ "PARSER_INTRO"|translate }}
                </div>
                <div class="m-b-20 bold">
                    Level, ItemLevel, Artifact Trait / Relic, Suramar Reputation / World Quest, Instance attunement, Progress, Skill rating, Audit, ...
                </div>
                <a class="btn btn-inverse login-button" href="{{ apiUrl }}/auth/bnet/{{ host }}" ng-if="!user.id">
                	{{"CONNECT_BNET"|translate}}
                    <span class="login-bnet">
                        <span class="icon-small bnet"></span>
                        Battle.net
                    </span>
                </a>
                <div class="btn btn-inverse login-button" ng-click="openGuildAddPopup('sm')" ng-if="user.id">
                	{{ "ADD_MY_GUILD"|translate }}
                </div>
        	</div>
        </div>
    </div>
</div>
<div class="container m-t-20">
    <div class="row">
        <div class="col-md-6">
            <h3 class="m-b-20">{{"EXAMPLES"|translate}}</h3>
            <table class="table table-condensed">
                <tr>
                    <td class="faction-1">
                        <a href="{{ hashbang }}/guild/eu/Archimonde/Bloodlust/parser/"
                           class="bold txt-underline">
                            Bloodlust
                        </a>
                    </td>
                    <td>
                        Archimonde
                    </td>
                    <td>
                        EU
                    </td>
                    <td class="hidden-xs">
                        {{"UPDATED"|translate}} <span am-time-ago="{{ fakeTimestamp |  amSubtract : '1' : 'hours' }}"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="m-b-20">{{"MY_GUILDS"|translate}}</h3>
            <table class="table table-condensed">
                <tr ng-repeat="guildAd in guildAds">
                    <td class="faction-{{guildAd.bnet.side}}">
                        <a href="{{ hashbang }}/guild/{{ guildAd.region }}/{{ guildAd.realm }}/{{ guildAd.name }}/parser/" class="txt-underline bold">
                            {{guildAd.name}}
                        </a>
                    </td>
                    <td>
                        {{guildAd.realm}}
                    </td>
                    <td>
                        {{guildAd.region|uppercase}}
                    </td>
                    <td ng-init="diffDay = (guildAd.ad.updated | amDifference:null:'days')">
                        <a href="{{ hashbang }}/guild/{{ guildAd.region }}/{{ guildAd.realm }}/{{ guildAd.name }}/" tooltip-placement="top" tooltip-append-to-body="true"  uib-tooltip-template="'accountRecruitementTooltipTemplate.html'">
                            <i ng-class="{'text-success':diffDay<=0&&diffDay>=-90,'text-warning':diffDay<-90&&diffDay>=-120,'text-danger':diffDay>0||diffDay<-120}" class="fa fa-file-text-o"></i>
                        </a>
                        <script type="text/ng-template" id="accountRecruitementTooltipTemplate.html">
                            <span>{{"EXPIRE"|translate}} <span am-time-ago="{{guildAd.ad.updated|amAdd:'120':'days'}}"></span></span>
                        </script>
                    </td>
                    <td>
                        <a href="{{ hashbang }}/guild/{{ guildAd.region }}/{{ guildAd.realm }}/{{ guildAd.name }}/parser/" tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip-template="'accountParserTooltipTemplate.html'">
                            <i ng-class="{'text-success':guildAd.parser.active,'text-danger':!guildAd.parser.active}" class="fa fa-bar-chart"></i>
                        </a>
                        <script type="text/ng-template" id="accountParserTooltipTemplate.html">
                            <span ng-if="guildAd.parser.active">{{"ACCOUNT_PARSER_ACTIVE"|translate}}</span>
                            <span ng-if="!guildAd.parser.active">{{"ACCOUNT_PARSER_INACTIVE"|translate}}</span>
                        </script>
                    </td>
                    <td class="text-right">
                        <a class="txt-white m-r-10 f-16 txt-no-decoration"
                           href="{{ hashbang }}/guild/{{guildAd.region}}/{{guildAd.realm}}/{{guildAd.name}}/update?parser"
                           ng-if="guildAd.perms.ad.edit" tooltip-placement="top" tooltip-append-to-body="true"
                           uib-tooltip="{{'EDIT'|translate }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="!guildAds.length">
                    <td class="text-center">
                        {{"NO_DATA"|translate}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>