<div class="dashboard-intro-parser"></div>
<wlfg-guild-add-popup></wlfg-guild-add-popup>
<div class="bg-black p-t-20 p-b-20">
    <div class="container">
        <div class="row">
        	<div class="col-md-12 text-center">
                <a class="btn btn-inverse login-button" href="/auth/bnet/{{ host }}" ng-if="!user.id">
                	{{"CONNECT_BNET"|translate}}
                    <span class="login-bnet">
                        <span class="icon-small bnet"></span>
                        Battle.net
                    </span>
                </a>
                <div class="btn btn-inverse login-button" ng-click="openGuildAddPopup('sm')" ng-if="user.id">
                	Let's parse my guild!
                </div>
        	</div>
        </div>
    </div>
</div>
<div class="container">
    <h2 style="color:whitesmoke">
        <p>This site will close his doors on July 31st.</p>
        <p>We recommand you <a target="_blank" href="https://wowaudit.com/">wowaudit.com</a> to parse your guild characters.</p>
    </h2>
</div>