<div ng-include="'app/guild/guild-read-header.html'"></div>
<div class="guild-parser">
    <div class="container">
        <div ng-include="'app/guild/guild-read-intro.html'"></div>
        <div ng-include="'app/parser/parser-navbar.html'"></div>
        <div class="row">
            <div class="col-md-6 m-b-5">
                <span class="css3-metro-dropdown css3-metro-dropdown-inverse">
                    <select ng-model="difficulty" class="form-control">
                        <option value="normalTimestamp">{{ raid.name|uppercase|translate }} : {{ "NORMAL"|translate }}</option>
                        <option value="heroicTimestamp">{{ raid.name|uppercase|translate }} : {{ "HEROIC"|translate }}</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-condensed table-striped table-hover">
                        <thead>
                            <th class="cursor-pointer" ng-click="switchSort('name');">
                                {{ "NAME"|translate }}
                                <i ng-if="sort!='name'&&sort!='-name'" class="fa fa-sort" aria-hidden="true"></i>
                                <i ng-show="sort==='-name'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                <i ng-show="sort==='name'" class="fa fa-sort-asc" aria-hidden="true"></i>
                            </th>
                            <th class="text-center sortable" ng-click="switchSort('bnet.progression.raids[0].bosses['+$index+'].'+difficulty+'');" ng-repeat="(key, boss) in raid.bosses" uib-tooltip='{{ boss|uppercase|translate }}' tooltip-append-to-body="true">
                                <div class="dis-inline-b icon-border-24" style="background-image: url('/assets/images/external/bosses/{{ currentTier }}/{{ key }}.jpg');">
                                    <img width="24" height="24" src="/assets/images/external/border.png">
                                </div>
                                <i ng-if="sort!='bnet.progression.raids[0].bosses['+$index+'].'+difficulty'&&sort!='-bnet.progression.raids[0].bosses['+$index+'].'+difficulty'" class="fa fa-sort" aria-hidden="true"></i>
                                <i ng-show="sort==='-bnet.progression.raids[0].bosses['+$index+'].'+difficulty'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                <i ng-show="sort==='bnet.progression.raids[0].bosses['+$index+'].'+difficulty'" class="fa fa-sort-asc" aria-hidden="true"></i>
                            </th>
                        </thead>
                        <tbody>
                            <tr class="text-center" ng-if="loading">
                                <td colspan="16" class="p-15 parser-loading">
                                    <i class="fa fa-2x fa-spinner fa-spin"></i>
                                </td>
                            </tr>
                            <tr class="text-center" ng-if="noResult">
                                <td colspan="{{ raid.bosses.length + 1 }}" class="p-15 loading">
                                    {{ "NO_DATA"|translate }}
                                </td>
                            </tr>
                            <tr ng-repeat="character in guildParser | orderBy:sort">
                                <td class="bold class-{{ character.bnet.class }}">
                                    <a ng-href="#/character/{{ character.region }}/{{ character.realm }}/{{ character.name }}/" target="_blank">
                                        {{ character.name }}
                                    </a>
                                </td>
                                <td class="text-center sort-img" ng-if="character.bnet.progression.raids[0].name == raid.name" ng-repeat="boss in character.bnet.progression.raids[0].bosses">
                                    <i ng-if="boss[difficulty] < lastReset.valueOf()" class="fa fa-times text-danger sort-fix" aria-hidden="true"></i>
                                    <i ng-if="boss[difficulty]  > lastReset.valueOf()" class="fa fa-check text-success sort-fix" aria-hidden="true"></i>
                                </td>
                                <td ng-if="character.bnet.progression.raids[0].name != raid.name" ng-repeat="boss in raid.bosses"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>