<tr>
    <th></th>
    <th>{{ "NAME"|translate }}</th>
    <th>{{ "GUILD"|translate }}</th>
    <th>{{ "REALM"|translate }}</th>
    <th>{{ "LANGUE"|translate }}</th>
    <th>RPW</th>
    <th>{{ "ROLE"|translate }}</th>
    <th class="cursor-pointer"  ng-class="{'selected':sortOut==='ilevel'}" ng-click="sortOut='ilevel'">
        ILvl &nbsp;<i ng-show="sortOut!=='ilevel'" class="fa fa-sort" aria-hidden="true"></i><i ng-show="sortOut==='ilevel'" class="fa fa-sort-desc" aria-hidden="true"></i>
    </th>
    <th class="cursor-pointer" ng-class="{'selected':sortOut==='progress'}" ng-click="sortOut='progress'">
        {{ "PROGRESS"|translate }}  &nbsp;<i ng-show="sortOut!=='progress'" class="fa fa-sort" aria-hidden="true"></i><i ng-show="sortOut==='progress'" class="fa fa-sort-desc" aria-hidden="true"></i>
    </th>
    <th>WCL</th>
    <th class="cursor-pointer" ng-class="{'selected':sortOut==='date'}" ng-click="sortOut='date'">
        {{ "UPDATE"|translate }}  &nbsp;<i ng-show="sortOut!=='date'" class="fa fa-sort" aria-hidden="true"></i><i ng-show="sortOut==='date'" class="fa fa-sort-desc" aria-hidden="true"></i>
    </th>
</tr>