.menu {
  margin: -20px auto 20px auto;
  max-width:1240px;
  .menu-content {
    padding: 20px;
    background-color: $black;


    .earth {
      background: url('../images/menu/earth.png') no-repeat top center;
      height: 30px;
      display: block;
    }

    .realmzone-filter {
      .checkbox-inline {
        margin-left:5px;
        margin-bottom: 5px;
        padding-left: 0px;
        text-align: center;
        line-height: 24px;
        border: 1px solid $white;
        width:30px;
        height:30px;
        label{
          cursor: pointer;
          font-size:12px;
          width:100%;
          height:100%;
        }
        input {
          display: none;
        }
        &.selected {
          background-color: $white;
          label {
            color: $black;
          }
        }
        .checkbox-inline+.checkbox-inline{
          margin-left:5px;
        }
      }
    }
    .row {
      background: url('../images/menu/separator.png') no-repeat bottom center;
      padding-bottom: 25px;
    }
    .menu-content-nonretractable {
      margin: 20px;
    }
    .menu-content-retractable {
      margin: 20px;
    }
  }

  .menu-footer {
    padding: 0 10px 10px 10px;

    .menu-open {
      cursor: pointer;
      background: url('../images/menu/bottom.png') no-repeat top center;
      background-size: contain;
      height: 12px;
    }
    .sort {
      text-align: right;
    }
  }
}



