.modal-content {
	border-radius: 0px;
	background-color: $black;
	border: 1px solid white;
}

.modal-header {
	border-bottom: 1px solid white;
	padding: 0px 0px 15px 0px;
}

.modal-footer {
	border-top: 1px solid white;
	padding: 15px 0px 0px 0px;
}

.modal-header .close {
	color: white;
	position: absolute;
	right: 7px;
	top: 5px;
}

.modal-body {
	padding: 15px 0px 15px 0px;
}

.modal-header.modal-confirm {
	font-size: 14px;
	/*border-bottom: 0px solid white;*/
	padding-right: 25px;
}

.modal-sm {
	width: 450px;
}