.ranger {
  box-sizing: border-box;
  height: 12px;
  padding: 0 3px;
  border-radius: 6px;
  background-color:$grey}
.ranger-inverse {
  background-color: $black;
}
.ranger-scale {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2px 0; }
.ranger-scale:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  border-radius: 3px; }
.ranger-marker {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: $white;
  z-index: 2; }
.ranger-marker:last-child {
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.ranger-marker:after {
  display: none;
  content: attr(marker-value);
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: -39px;
  background: #444;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50% 50% 50% 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.ranger-marker:focus {
  outline: none; }
.ranger-marker:focus:after, .ranger-marker:focus:before {
  display: block; }
.ranger-fill {
  position: absolute;
  top: 2px;
  bottom: 2px;
  background: #00FF00; }
