.nav-tabs {
	border: none;
	background-color: $black;

	.border-bottom {
		width: 100%;
		height: 1px;
		background-color: $black;
		margin: 0 auto;
	}
}

.nav-tabs > li > a {
	border-radius: 0px;
	font-size: 14px;
	color: #a0a0a0;
	background-color: $black;
	border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: white;
	background-color: $black;
	border: none;

	.border-bottom {
		background-color: $white;
	}
}

.nav.nav-tabs > li > a:hover {
	background-color: $red !important;
	color: white;
	
	.border-bottom {
		background-color: $white;
	}
}

.nav.nav-tabs > li > a:focus {
	background-color: $black !important;
}

.nav-tabs li a i.fa {
	margin-bottom: 5px;
}

.no-tabs .nav-tabs {
	border: 0;
}

.no-tabs .nav-tabs > li > a {
	border: 0;
	padding: 0px;
	display: none;
}

.no-tabs .nav-tabs > li.active > a, .no-tabs .nav-tabs > li.active > a:focus, .no-tabs .nav-tabs > li.active > a:hover {
	background-color: $black !important;
	border: 0;
}

.guild-update .nav-tabs, .guild-parser .nav-tabs {
	cursor:default;
	padding-bottom: 1px;
}