table {
	thead {
		background-color: $red;
	}

	tbody {
		td.loading {
			padding: 15px !important;
		}

		td.characters-loading {
			height: 620px;
		}

		td.guilds-loading {
			height: 640px;
		}

		td.ranking-loading {
			height: 620px;
		}
	}
}