
.heirloom, .quality-7 { color: rgb(0, 204, 255) }
.artifact, .quality-6 { color: rgb(230, 204, 128) }
.legendary, .quality-5 { color: rgb(255, 128, 0) }
.epic, .quality-4 { color: rgb(163, 53, 238) }
.rare, .quality-3 { color: rgb(0, 112, 255) }
.uncommon, .quality-2 { color: rgb(30, 255, 0) }
.common, .quality-1 { color: #666 }

.faction-1 { color: $horde}
.faction-0 { color: $alliance}

/* None*/
.class-0,.class-none{color:#000000;}
/* Warrior */
.class-1,.class-warrior{color:#C79C6E;}
/* Paladin */
.class-2,.class-paladin{color:#F58CBA;}
/* Hunter */
.class-3,.class-hunter{color:#ABD473;}
/* Rogue */
.class-4,.class-rogue{color:#FFF569;}
/* Priest */
.class-5,.class-priest{color:#fff;}
/* Death Knight */
.class-6,.class-deathknight{color:#C41F3B }
/* Shaman */
.class-7,.class-shaman{color:#0070DE}
/* Mage */
.class-8,.class-mage{color:#69CCF0}
/* Warlock */
.class-9,.class-warlock{color:#9482C9}
/* Monk */
.class-10,.class-monk{color:#00FF96}
/* Druid */
.class-11,.class-druid{color:#FF7D0A}
/* Demon hunter */
.class-12, .class-demonhunter {color: #a330c9;}

.icon-fix {
    margin-top: 2px !important;
    vertical-align: top !important;
}
.icon-small {
  padding: 0px;
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;

  /* Warrior */
  &.class-1{background: url('../images/icon/16/class-sprite.png') no-repeat -5px -5px; }
  /* Paladin */
  &.class-2{background: url('../images/icon/16/class-sprite.png') no-repeat -31px -31px; }
  /* Hunter */
  &.class-3{background: url('../images/icon/16/class-sprite.png') no-repeat -57px -31px; }
  /* Rogue */
  &.class-4{background: url('../images/icon/16/class-sprite.png') no-repeat -5px -57px; }
  /* Priest */
  &.class-5{background: url('../images/icon/16/class-sprite.png') no-repeat -31px -57px; }
  /* Death Knight */
  &.class-6{background: url('../images/icon/16/class-sprite.png') no-repeat -57px -57px; }
  /* Shaman */
  &.class-7{background: url('../images/icon/16/class-sprite.png') no-repeat -83px -5px; }
  /* Mage */
  &.class-8{background: url('../images/icon/16/class-sprite.png') no-repeat -83px -31px; }
  /* Warlock */
  &.class-9{background: url('../images/icon/16/class-sprite.png') no-repeat -83px -57px; }
  /* Monk */
  &.class-10{background: url('../images/icon/16/class-sprite.png') no-repeat -31px -5px; }
  /* Druid */
  &.class-11{background: url('../images/icon/16/class-sprite.png') no-repeat -57px -5px; }
  /* Demon hunter */
  &.class-12{background: url('../images/icon/16/class-sprite.png') no-repeat -5px -31px; }

  &.dps,&.melee_dps {background: url('../images/icon/16/role-sprite.png') no-repeat -5px -5px; }
  &.ranged-dps,&.ranged_dps,&.distant_dps {background: url('../images/icon/16/role-sprite.png') no-repeat -5px -31px; }
  &.heal,&.heals {background: url('../images/icon/16/role-sprite.png') no-repeat -31px -5px; }
  &.tank,&.tanks {background: url('../images/icon/16/role-sprite.png') no-repeat -31px -31px; }

  &.faction-1{background: url('../images/icon/16/horde.png') left center no-repeat;}
  &.faction-0{background: url('../images/icon/16/alliance.png') left center no-repeat;}

  &.logo-warcraftlfg {background: url('../images/icon/16/logo-warcraftlfg.png') left center no-repeat; margin-top: -2px}

  &.bnet {background: url('../images/icon/16/bnet.png') left center no-repeat; width: 18px; height: 18px; margin-top: -4px; margin-right: 2px; }

}

.icon-medium {
  padding: 0px;
  display: inline-block;
  width: 30px;
  height: 30px;

  /* Warrior */
  &.class-1{background: url('../images/icon/30/class-sprite.png') no-repeat -85px -5px; vertical-align: top; margin-top: 5px }
  /* Paladin */
  &.class-2{background: url('../images/icon/30/class-sprite.png') no-repeat -85px -85px; vertical-align: top; margin-top: 5px  }
  /* Hunter */
  &.class-3{background: url('../images/icon/30/class-sprite.png') no-repeat -205px -85px; vertical-align: top; margin-top: 5px  }
  /* Rogue */
  &.class-4{background: url('../images/icon/30/class-sprite.png') no-repeat -85px -125px; vertical-align: top; margin-top: 5px  }
  /* Priest */
  &.class-5{background: url('../images/icon/30/class-sprite.png') no-repeat -205px -125px; vertical-align: top; margin-top: 5px  }
  /* Death Knight */
  &.class-6{background: url('../images/icon/30/class-sprite.png') no-repeat -85px -165px; vertical-align: top; margin-top: 5px  }
  /* Shaman */
  &.class-7{background: url('../images/icon/30/class-sprite.png') no-repeat -205px -165px; vertical-align: top; margin-top: 5px  }
  /* Mage */
  &.class-8{background: url('../images/icon/30/class-sprite.png') no-repeat -85px -205px; vertical-align: top; margin-top: 5px  }
  /* Warlock */
  &.class-9{background: url('../images/icon/30/class-sprite.png') no-repeat -205px -205px; vertical-align: top; margin-top: 5px  }
  /* Monk */
  &.class-10{background: url('../images/icon/30/class-sprite.png') no-repeat -205px -5px; vertical-align: top; margin-top: 5px  }
  /* Druid */
  &.class-11{background: url('../images/icon/30/class-sprite.png') no-repeat -85px -45px; vertical-align: top; margin-top: 5px  }
  /* Demon hunter */
  &.class-12{background: url('../images/icon/30/class-sprite.png') no-repeat -205px -45px; vertical-align: top; margin-top: 5px  }

  &.dps,&.melee_dps {background: url('../images/icon/32/role-sprite.png') no-repeat -5px -5px; width: 32px; height: 32px; }
  &.ranged-dps,&.ranged_dps,&.distant_dps {background: url('../images/icon/32/role-sprite.png') no-repeat -5px -47px; width: 32px; height: 32px; }
  &.heal,&.heals {background: url('../images/icon/32/role-sprite.png') no-repeat -47px -5px; width: 32px; height: 32px; }
  &.tank,&.tanks {background: url('../images/icon/32/role-sprite.png') no-repeat -47px -47px; width: 32px; height: 32px; }

  &.faction-1{background: url('../images/icon/32/horde.png') left center no-repeat; width: 32px; height: 32px; vertical-align: top; margin-top: 5px  }
  &.faction-0{background: url('../images/icon/32/alliance.png') left center no-repeat; width: 32px; height: 32px; vertical-align: top; margin-top: 5px  }


}

.icon-large {
  padding:32px 32px;
  &.faction-1{
    background: url('../images/icon/64/horde.png') left center no-repeat;
  }
  &.faction-0{
    background: url('../images/icon/64/alliance.png') left center no-repeat;
  }
}

/*warrior*/
.character-class-1{
  /*0 : Arms*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -5px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Fury*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -31px; width: 16px; height: 16px; display: inline-block; }
  /*2 : Protection*/
  .spec-2{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -57px; width: 16px; height: 16px; display: inline-block; }
}

/* paladin */
.character-class-2 {
  /*0 : Holy*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -317px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Protection*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -343px; width: 16px; height: 16px; display: inline-block; }
  /*2 : Retribution*/
  .spec-2{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -369px; width: 16px; height: 16px; display: inline-block; }
}

/*hunter*/
.character-class-3 {
  /*0 : Beast Mastery*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -395px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Marksmanship*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -421px; width: 16px; height: 16px; display: inline-block; }
  /*2 : Survival*/
  .spec-2{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -447px; width: 16px; height: 16px; display: inline-block; }
}

/*rogue*/
.character-class-4 {
  /*0 : Assassination*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -473px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Combat*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -499px; width: 16px; height: 16px; display: inline-block; }
  /*2 : Subtlety*/
  .spec-2{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -525px; width: 16px; height: 16px; display: inline-block; }
}

/*priest*/
.character-class-5 {
  /*0 : Discipline*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -551px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Holy*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -577px; width: 16px; height: 16px; display: inline-block; }
  /*2 : Shadow*/
  .spec-2{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -603px; width: 16px; height: 16px; display: inline-block; }
}

/*death-knight*/
.character-class-6 {
  /*0 : Blood*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -629px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Frost*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -655px; width: 16px; height: 16px; display: inline-block; }
  /*2 : Unholy*/
  .spec-2{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -681px; width: 16px; height: 16px; display: inline-block; }
}

/*shaman*/
.character-class-7 {
  /*0 : Elemental*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -707px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Enhancement*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -733px; width: 16px; height: 16px; display: inline-block; }
  /*2 : Restoration*/
  .spec-2{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -759px; width: 16px; height: 16px; display: inline-block; }
}

/*mage*/
.character-class-8 {
  /*0 : Arcane*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -785px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Fire*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -811px; width: 16px; height: 16px; display: inline-block; }
  /*2 : Frost*/
  .spec-2{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -837px; width: 16px; height: 16px; display: inline-block; }
}

/*warlock*/
.character-class-9 {
  /*0 : Affliction*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -863px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Demonology*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -889px; width: 16px; height: 16px; display: inline-block; }
  /*2 : Destruction*/
  .spec-2{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -915p; width: 16px; height: 16px; display: inline-block; }
}

/*monk*/
.character-class-10 {
  /*0 : Brewmaster*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -83px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Mistweaver*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -109px; width: 16px; height: 16px; display: inline-block; }
  /*2 : Windwalker*/
  .spec-2{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -135px; width: 16px; height: 16px; display: inline-block; }
}

/*druid*/
.character-class-11 {
  /*0 : Balance*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -161px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Feral*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -187px; width: 16px; height: 16px; display: inline-block; }
  /*2 : Guardian*/
  .spec-2{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -213px; width: 16px; height: 16px; display: inline-block; }
  /*3 : Restoration*/
  .spec-3{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -239px; width: 16px; height: 16px; display: inline-block; }
}

/*demon hunter*/
.character-class-12 {
  /*0 : Havoc*/
  .spec-0{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -265px; width: 16px; height: 16px; display: inline-block; }
  /*1 : Vengeance*/
  .spec-1{background: url('../images/icon/16/spec-sprite.png') no-repeat -5px -291px; width: 16px; height: 16px; display: inline-block; }
}

/* Raid */
.raid-mythic { font-weight: bold; }
.raid-heroic { }
.raid-normal { font-style: italic; }
.raid-lfr { font-weight: 300;  }

/* Item slot */
.item {
  &.slot-head { background-image: url('../images/external/item/head.jpg'); }
  &.slot-neck { background-image: url('../images/external/item/neck.jpg'); }
  &.slot-shoulder { background-image: url('../images/external/item/shoulder.jpg'); }
  &.slot-back { background-image: url('../images/external/item/back.jpg'); }
  &.slot-chest { background-image: url('../images/external/item/chest.jpg'); }
  &.slot-wrist { background-image: url('../images/external/item/wrist.jpg'); }
  &.slot-hands { background-image: url('../images/external/item/hands.jpg'); }
  &.slot-waist { background-image: url('../images/external/item/waist.jpg'); }
  &.slot-legs { background-image: url('../images/external/item/legs.jpg'); }
  &.slot-feet { background-image: url('../images/external/item/feet.jpg'); }
  &.slot-finger1 { background-image: url('../images/external/item/finger1.jpg'); }
  &.slot-finger2 { background-image: url('../images/external/item/finger2.jpg'); }
  &.slot-trinket1 { background-image: url('../images/external/item/trinket1.jpg'); }
  &.slot-trinket2 { background-image: url('../images/external/item/trinket2.jpg'); }
  &.slot-mainHand { background-image: url('../images/external/item/mainHand.jpg'); }
}

/* Bosses */
.hfc-18 {
  &.boss-0 { background-image: url('../images/external/bosses/18/0.jpg'); }
  &.boss-1 { background-image: url('../images/external/bosses/18/1.jpg'); }
  &.boss-2 { background-image: url('../images/external/bosses/18/2.jpg'); }
  &.boss-3 { background-image: url('../images/external/bosses/18/3.jpg'); }
  &.boss-4 { background-image: url('../images/external/bosses/18/4.jpg'); }
  &.boss-5 { background-image: url('../images/external/bosses/18/5.jpg'); }
  &.boss-6 { background-image: url('../images/external/bosses/18/6.jpg'); }
  &.boss-7 { background-image: url('../images/external/bosses/18/7.jpg'); }
  &.boss-8 { background-image: url('../images/external/bosses/18/8.jpg'); }
  &.boss-9 { background-image: url('../images/external/bosses/18/9.jpg'); }
  &.boss-10 { background-image: url('../images/external/bosses/18/10.jpg'); }
  &.boss-11 { background-image: url('../images/external/bosses/18/11.jpg'); }
  &.boss-12 { background-image: url('../images/external/bosses/18/12.jpg'); }
}

.ten-19 {
  &.boss-0 { background-image: url('../images/external/bosses/19/0.jpg'); }
  &.boss-1 { background-image: url('../images/external/bosses/19/1.jpg'); }
  &.boss-2 { background-image: url('../images/external/bosses/19/2.jpg'); }
  &.boss-3 { background-image: url('../images/external/bosses/19/3.jpg'); }
  &.boss-4 { background-image: url('../images/external/bosses/19/4.jpg'); }
  &.boss-5 { background-image: url('../images/external/bosses/19/5.jpg'); }
  &.boss-6 { background-image: url('../images/external/bosses/19/6.jpg'); }
  &.boss-7 { background-image: url('../images/external/bosses/19/7.jpg'); }
}

.tov-19 {
  &.boss-0 { background-image: url('../images/external/bosses/19.2/0.jpg'); }
  &.boss-1 { background-image: url('../images/external/bosses/19.2/1.jpg'); }
  &.boss-2 { background-image: url('../images/external/bosses/19.2/2.jpg'); }
}

.tn-19 {
  &.boss-0 { background-image: url('../images/external/bosses/19.5/0.jpg'); }
  &.boss-1 { background-image: url('../images/external/bosses/19.5/1.jpg'); }
  &.boss-2 { background-image: url('../images/external/bosses/19.5/2.jpg'); }
  &.boss-3 { background-image: url('../images/external/bosses/19.5/3.jpg'); }
  &.boss-4 { background-image: url('../images/external/bosses/19.5/4.jpg'); }
  &.boss-5 { background-image: url('../images/external/bosses/19.5/5.jpg'); }
  &.boss-6 { background-image: url('../images/external/bosses/19.5/6.jpg'); }
  &.boss-7 { background-image: url('../images/external/bosses/19.5/7.jpg'); }
  &.boss-8 { background-image: url('../images/external/bosses/19.5/8.jpg'); }
  &.boss-9 { background-image: url('../images/external/bosses/19.5/9.jpg'); }
}

/* Dungeon affixes */
.dungeon-affixe {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background-size: contain;

  &.bolstering { background-image: url('../images/external/dungeon/bolstering.jpg'); }
  &.fortified { background-image: url('../images/external/dungeon/fortified.jpg'); }
  &.necrotic { background-image: url('../images/external/dungeon/necrotic.jpg'); }
  &.overflowing { background-image: url('../images/external/dungeon/overflowing.jpg'); }
  &.raging { background-image: url('../images/external/dungeon/raging.jpg'); }
  &.sanguine { background-image: url('../images/external/dungeon/sanguine.jpg'); }
  &.skittish { background-image: url('../images/external/dungeon/skittish.jpg'); }
  &.teeming { background-image: url('../images/external/dungeon/teeming.jpg'); }
  &.tyrannical { background-image: url('../images/external/dungeon/tyrannical.jpg'); }
  &.volcanic { background-image: url('../images/external/dungeon/volcanic.jpg'); }
}
