<div class="dashboard-intro-progress"></div>
<div class="m-b-20">
    <div class="bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default m-b-0">
                        <div class="panel-body p-r-0 p-l-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="fw-700 m-b-5">{{"TIER"|translate}}</div>
                                    <span class="css3-metro-dropdown">
                                        <select ng-model="filters.tier" class="form-control">
                                            <option value="19">Tier 19</option>
                                            <!--<option value="18">Tier 18</option>-->
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <div class="fw-700 m-b-5">{{"REGION"|translate}}</div>
                                    <span class="css3-metro-dropdown">
                                        <select ng-model="filters.region" class="form-control">
                                            <option value="">{{ "WORLD"|translate }}</option>
                                            <option value="{{ region }}" ng-repeat="region in rankingRegions">{{ region|uppercase }}</option>
                                            <option style="font-size: 2pt;" disabled>&nbsp;</option>
                                            <option style="font-size: 0.1pt; background-color: #ccc;"
                                                    disabled>&nbsp;</option>
                                            <option style="font-size: 2pt;" disabled>&nbsp;</option>
                                            <option value="{{ key }}" ng-repeat="(key, subregion) in rankingSubregions">{{ "REGION_"+subregion|translate }}</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <div class="fw-700 m-b-5">{{"REALM"|translate}}</div>
                                    <div isteven-multi-select
                                         input-model="realms"
                                         button-label="label"
                                         item-label="label"
                                         output-properties="region"
                                         tick-property="selected"
                                         translation="localRealms"
                                         selection-mode="single"
                                         on-item-click="setRealm(data)"
                                         on-reset="resetRealm()"
                                    >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                    <th>
                        {{"RANK"|translate}}
                    </th>
                    <th>
                        {{"NAME"|translate}}
                    </th>
                    <th ng-if="!filters.realm">
                        {{"REALM"|translate}}
                    </th>
                    <th ng-if="filters.realm || filters.region">
                        {{"WORLD"|translate}}
                    </th>
                    <th>
                        {{"PROGRESS"|translate}}
                    </th>
                    </thead>
                    <tbody>
                    <tr class="text-center" ng-if="loading">
                        <td colspan="12" class="p-15 ranking-loading">
                            <i class="fa fa-2x fa-spinner fa-spin"></i>
                        </td>
                    </tr>
                    <tr class="text-center" ng-if="noResult">
                        <td colspan="12" class="p-15 loading">
                            {{ "NO_DATA"|translate }}
                        </td>
                    </tr>
                    <tr ng-repeat="(rank,guild) in ranking" ng-if="$index < 10">
                        <td ng-class="{'legendary': (rank <= 10), 'epic': (rank > 10 && rank <= 100), 'rare': (rank > 100 && rank <= 2500), 'uncommon': (rank > 2500)}"
                            class="bold">
                            {{rank}}
                        </td>
                        <td class="faction-{{guild.side}}">
                            <a href="{{ hashbang }}/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/"
                               class="bold">
                                {{guild.name}}
                            </a>
                            <i ng-if="guild.lfg" class="fa fa-file-text-o txt-white m-l-5 f-12" tooltip-placement="top"
                               uib-tooltip="{{ 'RECRUITMENT'|translate }}"></i>
                        </td>
                        <td ng-show="!filters.realm">
                            <a href="{{ hashbang }}/pve/{{ guild.region }}/{{ guild.realm }}/"
                               class="txt-underline italic">
                                {{guild.region|uppercase}}-{{guild.realm}}
                            </a>
                        </td>
                        <td ng-class="{'legendary': (guild.world <= 10), 'epic': (guild.world > 10 && rank <= 100), 'rare': (guild.world > 100 && rank <= 2500), 'uncommon': (guild.world > 2500)}"
                            class="bold" ng-show="filters.realm || filters.region">
                            {{guild.world}}
                        </td>
                        <td>
                            <wlfg-progress-boss progress="{{ guild.progress }}"></wlfg-progress-boss>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-condensed table-striped table-hover"
                       ng-show="'Object.keys(ranking).length > 10'">
                    <thead>
                    <th>
                        {{"RANK"|translate}}
                    </th>
                    <th>
                        {{"NAME"|translate}}
                    </th>
                    <th ng-if="!filters.realm">
                        {{"REALM"|translate}}
                    </th>
                    <th ng-if="filters.realm || filters.region">
                        {{"WORLD"|translate}}
                    </th>
                    <th>
                        {{"PROGRESS"|translate}}
                    </th>
                    </thead>
                    <tbody>
                    <tr class="text-center" ng-if="loading">
                        <td colspan="12" class="p-15 ranking-loading">
                            <i class="fa fa-2x fa-spinner fa-spin"></i>
                        </td>
                    </tr>
                    <tr class="text-center" ng-if="noResult">
                        <td colspan="12" class="p-15 loading">
                            {{ "NO_DATA"|translate }}
                        </td>
                    </tr>
                    <tr ng-repeat="(rank,guild) in ranking" ng-if="$index >= 10">
                        <td ng-class="{'legendary': (rank <= 10), 'epic': (rank > 10 && rank <= 100), 'rare': (rank > 100 && rank <= 2500), 'uncommon': (rank > 2500)}"
                            class="bold">
                            {{rank}}
                        </td>
                        <td class="faction-{{guild.side}}">
                            <a href="{{ hashbang }}/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/"
                               class="bold">
                                {{guild.name}}
                            </a>
                        </td>
                        <td ng-show="!filters.realm">
                            <a href="{{ hashbang }}/pve/{{ guild.region }}/{{ guild.realm }}/"
                               class="txt-underline italic">
                                {{guild.region|uppercase}}-{{guild.realm}}
                            </a>
                        </td>
                        <td ng-class="{'legendary': (guild.world <= 10), 'epic': (guild.world > 10 && rank <= 100), 'rare': (guild.world > 100 && rank <= 2500), 'uncommon': (guild.world > 2500)}"
                            class="bold" ng-show="filters.realm || filters.region">
                            {{guild.world}}
                        </td>
                        <td>
                            <wlfg-progress-boss progress="{{ guild.progress }}"></wlfg-progress-boss>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 m-b-10">
                <nav>
                    <ul class="pagination m-0">
                        <li class="page-item" ng-class="{'disabled': page <= 1}">
                            <a ng-if="page > 1" ng-href="{{ hashbang }}/{{ path }}{{ (page - 1) }}"><span
                                    class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo; &nbsp; Previous</span></span></a>
                            <span ng-if="page <= 1" aria-hidden="true">&laquo; &nbsp; {{"PREVIOUS"|translate }}</span>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 m-b-10 text-right">
                <nav>
                    <ul class="pagination m-0">
                        <li class="page-item" ng-class="{'disabled': noResult}">
                            <a ng-href="{{ hashbang }}/{{ path }}{{ (page + 1) }}">
                            <span class="page-link" aria-label="Previous">
                                <span aria-hidden="true">{{"NEXT"|translate }} &nbsp; &raquo;</span>
                            </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-table">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="m-b-20">Heroic Emerald Nightmare</h3>
                <table class="table table-condensed">
                    <tr ng-repeat="(boss,value) in stats.stats.heroic">
                        <td>H: {{boss}}</td>
                        <td>{{value}} ({{value/stats.stats.count*100|number:2}}%)</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3 class="m-b-20">Normal Emerald Nightmare</h3>
                <table class="table table-condensed">
                    <tr ng-repeat="(boss,value) in stats.stats.normal">
                        <td>N: {{boss}}</td>
                        <td>{{value}} ({{value/stats.stats.count*100|number:2}}%)</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="italic">
            Stats generated at {{stats._id|wlfgObjectIdToTimestamp|amDateFormat:'L LTS'}} from {{stats.stats.count}} guilds.
        </div>
    </div>
</div>

<!--<div class="dashboard-table">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="m-b-20">Mythic Hellfire Citadel</h3>
                <table class="table table-condensed">
                    <tr ng-repeat="guild in guildAds">
                        <td ng-class="{'logo-warcraftlfg':guild.id}" class="icon-small">
                            <span class="source-tooltip"
                                  uib-tooltip='{{"AD_SOURCE_WARCRAFTLFG"|translate}}'
                                  ng-if="guild.id">
                            </span>
                        </td>
                        <td class="faction-{{guild.bnet.side}}">
                            <a href="{{ hashbang }}/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/"
                               class="bold txt-underline">
                                {{guild.name}}
                            </a>
                        </td>
                        <td>
                            {{guild.realm}}
                        </td>
                        <td>
                            {{guild.region|uppercase}}
                        </td>
                        <td class="hidden-xs">
                            {{"UPDATED"|translate}} <span am-time-ago="guild.ad.updated"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3 class="m-b-20">Heroic Hellfire Citadel</h3>
                <table class="table table-condensed">
                    <tr ng-repeat="character in characterAds">
                        <td ng-class="{'logo-warcraftlfg':character.id}" class="icon-small">
                            <span class="source-tooltip"
                                  uib-tooltip='{{"AD_SOURCE_WARCRAFTLFG"|translate}}'
                                  ng-if="character.id"></span>
                        </td>
                        <td class="class-{{character.bnet.class}}">
                            <a href="{{ hashbang }}/character/{{ character.region }}/{{ character.realm }}/{{ character.name }}/"
                               class="bold txt-underline class-{{character.bnet.class}}">
                                {{character.name}}
                            </a>
                        </td>
                        <td>
                            {{character.realm}}
                        </td>
                        <td>
                            {{character.region|uppercase}}
                        </td>
                        <td class="hidden-xs">
                            {{"UPDATED"|translate}} <span am-time-ago="character.ad.updated"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>-->