<section class="header header-guild m-b-10">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ "SEARCH"|translate }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                	{{ "TERM"|translate }} : {{ term }}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default m-b-10">
                <div class="panel-body bold">
                	{{ "GUILDS"|translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-4 m-b-10">
            <table class="table table-condensed">
                <tr ng-repeat="guild in guilds | limitTo : limit : (limit*0)">
                    <td class="faction-{{guild.bnet.side}}">
                        <a href="{{ hashbang }}/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/"
                           class="bold txt-underline">
                            {{guild.name}}
                        </a>
                    </td>
                    <td>
                        {{guild.realm}}
                    </td>
                    <td>
                        {{guild.region|uppercase}}
                    </td>
                </tr>
            </table>
    	</div>
    	<div class="col-md-4 m-b-10">
            <table class="table table-condensed">
                <tr ng-repeat="guild in guilds | limitTo : limit : (limit*1)">
                    <td class="faction-{{guild.bnet.side}}">
                        <a href="{{ hashbang }}/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/"
                           class="bold txt-underline">
                            {{guild.name}}
                        </a>
                    </td>
                    <td>
                        {{guild.realm}}
                    </td>
                    <td>
                        {{guild.region|uppercase}}
                    </td>
                </tr>
            </table>
    	</div>
    	<div class="col-md-4 m-b-10">
            <table class="table table-condensed">
                <tr ng-repeat="guild in guilds | limitTo : limit : (limit*2)">
                    <td class="faction-{{guild.bnet.side}}">
                        <a href="{{ hashbang }}/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/"
                           class="bold txt-underline">
                            {{guild.name}}
                        </a>
                    </td>
                    <td>
                        {{guild.realm}}
                    </td>
                    <td>
                        {{guild.region|uppercase}}
                    </td>
                </tr>
            </table>
    	</div>
    </div>
</div>