<wlfg-message-popup></wlfg-message-popup>
<div class="row">
    <div class="col-md-12">
        <div class="row">
           <div class="col-md-12" ng-if="queuePosition">
                <button ng-if="queuePosition" type="button" class="btn btn-default disabled m-b-5">
                    <i class="fa fa-spinner"></i> {{"QUEUE_POSITION"|translate}} {{queuePosition.count}} ({{"QUEUE_CHECK_MESSAGE"|translate}})
                </button>
            </div>
            <div class="col-md-8 m-b-10">
                <a ng-if="guildParser" href="{{ hashbang }}/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/" class="btn btn-default">
                    <i class="fa fa-file-text-o"></i> &nbsp;{{"INFORMATION"|translate}}
                </a>
                <a ng-if="!guildParser && guild.parser.active" href="{{ hashbang }}/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/parser/" class="btn btn-default">
                    <i class="fa fa-bar-chart"></i> &nbsp;{{"PARSER"|translate}}
                </a>
                <a ng-if="!guildParser && !guild.parser.active && userCanEdit" href="{{ hashbang }}/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/update?parser" class="btn btn-default">
                    <i class="fa fa-bar-chart"></i> &nbsp;{{"ADD_TO_PARSER"|translate}}
                </a>
                <div class="dis-inline-b cursor-pointer" uib-tooltip="{{ 'PERMISSION_DENIED'|translate }}" ng-if="!guildParser && !guild.parser.active && !userCanEdit">
                    <a href="" class="btn btn-default disabled cursor-pointer">
                        <i class="fa fa-bar-chart"></i> &nbsp;{{"ADD_TO_PARSER"|translate}}
                    </a>
                </div>
                <button ng-if="guild.id" ng-click="openMessagePopup('sm');" type="button" class="btn btn-default" aria-label="Update Character">
                    <img src="/assets/images/message.png" class="message-picto"/> &nbsp;{{"MESSAGE_OPEN_POPUP"|translate}}
                </button>
                <button ng-class="{'disabled':queuePosition}" ng-click="updateGuild()" type="button" class="btn btn-default" aria-label="Update Guild">
                    <i class="fa fa-refresh"></i> &nbsp;{{"UPDATE_GUILD"|translate}}
                </button>
                <a ng-if="guildParser && !guild.parser.active && userCanEdit" href="{{ hashbang }}/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/update?parser" class="btn btn-default">
                    <i class="fa fa-bar-chart"></i> &nbsp;{{"ADD_TO_PARSER"|translate}}
                </a>
                <div class="dis-inline-b cursor-pointer" uib-tooltip="{{ 'PERMISSION_DENIED'|translate }}" ng-if="guildParser && !guild.parser.active && !userCanEdit">
                    <a href="" class="btn btn-default cursor-pointer disabled">
                        <i class="fa fa-bar-chart"></i> &nbsp;{{"ADD_TO_PARSER"|translate}}
                    </a>
                </div>
            </div>
            <div class="col-md-4 m-b-10 text-right">
                <a href="http://www.askmrrobot.com/wow/combatlog/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}" target="_blank" class="m-l-10 href-icon">
                    <img src="/assets/images/external/amr.png" class="external-icon" width="34" />
                </a>
                <a href="https://www.warcraftlogs.com/guilds/name/{{ guild.name }}/{{ guild.realm }}/{{ guild.region }}" target="_blank" class="m-l-10 href-icon">
                    <img src="/assets/images/external/wcl.png" width="34" />
                </a>
                <a href="http://{{ guild.region }}.battle.net/wow/en/guild/{{ guild.realm }}/{{ guild.name }}/" target="_blank" class="m-l-10 href-icon">
                    <img src="/assets/images/external/armory.png" width="34" />
                </a>
            </div>
        </div>
    </div>
</div>