<div ng-include="'app/guild/guild-read-header.html'"></div>
<div class="guild-read">
    <div class="container">
        <div ng-include="'app/guild/guild-read-intro.html'"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="icon-large center-block faction-{{guild.bnet.side}}"></span>
                            </div>
                            <div class="col-md-5">
                                <div class="faction-{{guild.bnet.side}} f-20 overflow">{{ guild.name }}</div>
                                <div class="overflow">{{ guild.realm }} - {{ guild.region|uppercase}}</div>
                                <div class=" overflow">Members : {{ guild.bnet.members.length }}</div>
                            </div>
                            <div class="col-md-4 text-right">
                                <div class="">
                                    <span class="m-l-10" ng-if="guild.ad.language">
                                        {{"LANG_"+guild.ad.language|uppercase|translate}}&nbsp;
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="guild.ad.website">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <div ng-bind-html="guild.ad.website | linky:'_blank'" class="overflow"></div>
                            </div>
                        </div>
                        <div ng-if="guild.ad.description" class="row m-t-10">
                            <div class="col-md-12">
                                <div id="guild-description" perfect-scrollbar wheel-propagation="false" wheel-speed="2"
                                     min-scrollbar-length="20" suppress-scroll-x="true"
                                     class="guild-description scroller" marked="guild.ad.description">
                                    <div class="p-t-10"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div ng-if="guild.id" class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <!--<div class="col-md-6" ng-if="guild.ad.website">
                                {{"CONTACT"|translate}}:
                                <div ng-bind-html="guild.ad.website | linky:'_blank'" class="overflow"></div>
                            </div>-->
                            <div class="col-md-6 cursor-pointer" ng-if="guild.id" ng-click="openMessagePopup('sm');">
                                <span class="icon-small logo-warcraftlfg"></span>
                                <span class="m-l-5">WarcraftLFG</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-if="guild.ad && guild.ad.updated">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                {{"AD_UPDATED"|translate}}: <span am-time-ago="guild.ad.updated"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--div class="panel panel-default" ng-if="guild.ad.tags.length">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                Tags : <span class="label label-default" ng-repeat="tag in guild.ad.tags">{{ tag.text }}</span>
                            </div>
                        </div>
                    </div>
                </div-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{"RAIDS_PER_WEEK"|translate}}: {{ guild.ad.raids_per_week.min }} - {{
                                guild.ad.raids_per_week.max }}
                            </div>
                            <div class="col-md-6" ng-if="guild.ad.timezone">
                                {{"TIMEZONE"|translate}}: {{"TIMEZONE_"+guild.ad.timezone|uppercase|translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="guild.ad.play_time"
                     ng-show="guild.ad.play_time.monday.play || guild.ad.play_time.tuesday.play || guild.ad.play_time.wednesday.play || guild.ad.play_time.thursday.play || guild.ad.play_time.friday.play || guild.ad.play_time.saturday.play || guild.ad.play_time.sunday.play">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr ng-repeat="(key, day) in guild.ad.play_time" ng-if="day.play == true">
                                <td>
                                    {{ key|uppercase|translate }}
                                </td>
                                <td>
                                    {{ ("0"+day.start.hour).slice(-2) }}h{{ ("0"+day.start.min).slice(-2) }}
                                </td>
                                <td>
                                    {{ ("0"+day.end.hour).slice(-2) }}h{{ ("0"+day.end.min).slice(-2) }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"
             ng-if="guild.ad.lfg && (recruit.tank > 0 || recruit.heal > 0 || recruit.melee_dps > 0 || recruit.ranged_dps > 0)">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="icon-small tank"></span><strong> &nbsp;{{"TANKS"|translate}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr ng-if="value == true" ng-repeat="(class,value) in guild.ad.recruitment.tank">
                                <td class="class-{{ class|lowercase }}">
                                    {{class|uppercase|translate}}
                                </td>
                            </tr>
                            <tr ng-if="recruit.tank === 0">
                                <td class="common">
                                    {{"NONE"|translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="icon-small heal"></span><strong> &nbsp;{{"HEALS"|translate}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr ng-if="value == true" ng-repeat="(class,value) in guild.ad.recruitment.heal">
                                <td class="class-{{ class|lowercase }}">
                                    {{class|uppercase|translate}}
                                </td>
                            </tr>
                            <tr ng-if="recruit.heal === 0">
                                <td class="common">
                                    {{"NONE"|translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="icon-small melee_dps"></span><strong> &nbsp;{{"MELEE_DPS"|translate}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr ng-if="value == true" ng-repeat="(class,value) in guild.ad.recruitment.melee_dps">
                                <td class="class-{{ class|lowercase }}">
                                    {{class|uppercase|translate}}
                                </td>
                            </tr>
                            <tr ng-if="recruit.melee_dps === 0">
                                <td class="common">
                                    {{"NONE"|translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="icon-small ranged_dps"></span><strong> &nbsp;{{"RANGED_DPS"|translate}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr ng-if="value == true" ng-repeat="(class,value) in guild.ad.recruitment.ranged_dps">
                                <td class="class-{{ class|lowercase }}">
                                    {{class|uppercase|translate}}
                                </td>
                            </tr>
                            <tr ng-if="recruit.ranged_dps === 0">
                                <td class="common">
                                    {{"NONE"|translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div  ng-include="'app/guild/guild-progress.html'"></div>

        <div ng-repeat="(bossCount, index) in [0]" ng-include="'app/guild/guild-pasteProgress.html'"></div>
    </div>
</div>