<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <form class="m-b-15">
                <div class="form-group">
                    <span class="f-28">{{ guild.name }} - {{ guild.realm }} - {{ guild.region|uppercase }}</span>

                    <input ng-model="guild.name" disabled type="hidden" class="form-control" id="characterNameInput">
                    <input ng-model="guild.realm" disabled type="hidden" class="form-control" id="characterRealmInput">
                    <input ng-model="guild.region"  disabled type="hidden" class="form-control" id="characterRegionInput">
                </div>
                <div class="form-group">
                    <label>{{"GUILD_CREATE_WEBSITE"|translate}}</label>
                    <input ng-model="guild.ad.website" placeholder="http://www.thebloodlust.org" class="form-control">
                </div>
                <div class="form-group">
                    <label>{{"GUILD_CREATE_DESCRIPTION"|translate}}</label>
                    <textarea ng-model="guild.ad.description" class="form-control" placeholder="{{'GUILD_CREATE_DESCRIPTION_PLACEHOLDER'|translate}}" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label>{{"GUILD_CREATE_RECRUITMENT_CLASS"|translate}}</label>
                    <div class="row">
                        <div ng-repeat="(role,value) in guild.ad.recruitment" class="col-md-3">
                            <strong>{{role|uppercase|translate}}</strong>
                            <div ng-repeat="(class,value) in guild.ad.recruitment[role]" class="checkbox">
                                <label class="{{ class|lowercase }}">
                                    <input ng-model="guild.ad.recruitment[role][class]" type="checkbox"> {{class|uppercase|translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"GUILD_CREATE_RAIDS_PER_WEEK"|translate}}</label>
                    <div ng-repeat="(key,value) in guild.ad.raids_per_week" class="checkbox">
                        <label>
                            <input ng-model="guild.ad.raids_per_week[key]" type="checkbox"> {{key|uppercase|translate}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{"GUILD_CREATE_PRIMARY_LANGUAGE"|translate}}</label>
                    <select ng-model="guild.ad.language" class="form-control">
                        <option ng-repeat="language in languages" value="{{language}}">{{"LANG_"+language|uppercase|translate}}</option>
                    </select>
                </div>
                <!--<div class="form-group">
                    <label>{{"GUILD_CREATE_RAIDING_STYLE"|translate}}</label>
                    <div class="radio">
                        <label>
                            <input name="raiding_style" type="radio" value="hardcore" ng-model="guild.ad.raiding_style">{{"HARDCORE"|translate}}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input name="raiding_style" type="radio" value="semi-hardcore" ng-model="guild.ad.raiding_style">{{"SEMI_HARDCORE"|translate}}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input name="raiding_style" type="radio" value="casual" ng-model="guild.ad.raiding_style">{{"CASUAL"|translate}}
                        </label>
                    </div>
                </div>-->
                <button type="submit" class="btn btn-default" ng-click="save()">{{"SAVE"|translate}}</button>
            </form>
        </div>
    </div>
</div>