<section class="header header-guild">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ "GUILDS"|translate}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                	<span class="sectiontitle">
                    	{{ "GUILDS_DESCRIPTION"|translate}}
                   </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div wlfg-guild-menu></div>

<div class="guild-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12" infinite-scroll="getMoreGuilds()" infinite-scroll-immediate-check="false">
                <div class="cartouche cartouche-faction-{{guild.bnet.side}}" ng-repeat="guild in guilds">
                    <div class="guild guild-faction-{{guild.bnet.side}}">
                        <a class="div-link" href="#/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/"></a>
                        <div class="row">
                            <div class="col-sm-3 col-md-4 col-lg-4">
                                <div class="overflow faction-{{guild.bnet.side}}">
                                    <a class="faction-{{guild.bnet.side}} f-28"
                                       href="#/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/">
                                        {{guild.name}}
                                    </a>
                                </div>
                                <div class="overflow">
                                    {{guild.realm}} ({{guild.region|uppercase}})
                                    <div ng-if="guild.id">
                                        <span class="icon-small logo-warcraftlfg">WarcraftLFG</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3 col-md-2 col-lg-4">
                                <div>
                                    {{"LANGUAGE"|translate}}: {{"LANG_"+guild.ad.language|uppercase|translate}}
                                </div>
                                <div>
                                    {{"RAIDS_PER_WEEK"|translate}}: {{guild.ad.raids_per_week.min}} - {{guild.ad.raids_per_week.max}}
                                </div>
                                <div ng-if="
                                guild.ad.recruitment.tank.warrior ||  guild.ad.recruitment.tank.druid || guild.ad.recruitment.tank.paladin || guild.ad.recruitment.tank.monk || guild.ad.recruitment.tank.deathknight ||
                                guild.ad.recruitment.heal.druid ||  guild.ad.recruitment.heal.priest || guild.ad.recruitment.heal.paladin || guild.ad.recruitment.heal.shaman || guild.ad.recruitment.heal.monk ||
                                guild.ad.recruitment.melee_dps.druid ||  guild.ad.recruitment.melee_dps.deathknight || guild.ad.recruitment.melee_dps.paladin || guild.ad.recruitment.melee_dps.monk || guild.ad.recruitment.melee_dps.shaman || guild.ad.recruitment.melee_dps.warrior || guild.ad.recruitment.melee_dps.rogue ||
                                guild.ad.recruitment.ranged_dps.druid || guild.ad.recruitment.ranged_dps.priest ||  guild.ad.recruitment.ranged_dps.shaman || guild.ad.recruitment.ranged_dps.hunter || guild.ad.recruitment.ranged_dps.warlock || guild.ad.recruitment.ranged_dps.mage">
                                    {{"ROLE"|translate}}:
                                    <span ng-if="guild.ad.recruitment.tank.warrior ||  guild.ad.recruitment.tank.druid || guild.ad.recruitment.tank.paladin || guild.ad.recruitment.tank.monk || guild.ad.recruitment.tank.deathknight"
                                          class="icon-small tank"></span>
                                    <span ng-if="guild.ad.recruitment.heal.druid ||  guild.ad.recruitment.heal.priest || guild.ad.recruitment.heal.paladin || guild.ad.recruitment.heal.shaman || guild.ad.recruitment.heal.monk"
                                          class="icon-small heal"></span>
                                    <span ng-if="guild.ad.recruitment.melee_dps.druid ||  guild.ad.recruitment.melee_dps.deathknight || guild.ad.recruitment.melee_dps.paladin || guild.ad.recruitment.melee_dps.monk || guild.ad.recruitment.melee_dps.shaman || guild.ad.recruitment.melee_dps.warrior || guild.ad.recruitment.melee_dps.rogue"
                                          class="icon-small dps"></span>
                                    <span ng-if="guild.ad.recruitment.ranged_dps.druid || guild.ad.recruitment.ranged_dps.priest ||  guild.ad.recruitment.ranged_dps.shaman || guild.ad.recruitment.ranged_dps.hunter || guild.ad.recruitment.ranged_dps.warlock || guild.ad.recruitment.ranged_dps.mage"
                                          class="icon-small ranged-dps"></span>
                                </div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-3 col-md-offset-2 col-lg-offset-0 col-md-10 col-lg-3">
                                <div>
                                    {{"PROGRESS"|translate}}:
                                    <span ng-if="guild.progress.tier_18.mythicCount>0">{{guild.progress.tier_18.mythicCount}}/13 (M)</span>
                                    <span ng-if="guild.progress.tier_18.heroicCount>0&&guild.progress.tier_18.mythicCount==0">{{guild.progress.tier_18.heroicCount}}/13 (H)</span>
                                    <span ng-if="guild.progress.tier_18.heroicCount==0&&guild.progress.tier_18.mythicCount==0">{{guild.progress.tier_18.normalCount}}/13 (N)</span>
                                </div>
                                Ranking:
                                <div class="row" ng-if="guild.rank.world">
                                    <div class="col-sm-2 col-md-4">{{"WORLD"|translate}}</div>
                                    <div class="col-sm-10 col-md-8"
                                         ng-class="{legendary:guild.rank.world<=10,epic:guild.rank.world<=100&&guild.rank.world>10,rare:guild.rank.world<=2500&&guild.rank.world>100,uncommon:guild.rank.world>2500}">
                                        {{guild.rank.world}}
                                    </div>
                                </div>
                                <div class="row" ng-if="guild.rank.region">
                                    <div class="col-sm-2 col-md-4">{{"REGION"|translate}}</div>
                                    <div class="col-sm-10 col-md-8"
                                         ng-class="{legendary:guild.rank.region<=10,epic:guild.rank.region<=100&&guild.rank.region>10,rare:guild.rank.region<=2500&&guild.rank.region>100,uncommon:guild.rank.region>2500}">
                                        {{guild.rank.region}}
                                    </div>
                                </div>
                                <div class="row" ng-if="!guild.rank.world">
                                    <div class="col-sm-10 col-md-9 common">
                                        {{"NO RANK FOUND"|translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="guild-timestamp">
                                <span am-time-ago="{{guild.ad.updated| amSubtract : '1' : 'minute'}}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-md-9 col-lg-9 text-center m-t-10 m-b-10">
                <i class="fa fa-3x fa-spinner fa-spin" ng-if="loading"></i>
            </div>
        </div>
    </div>
</div>