<div class="row">
    <div class="col-md-12">
        <h1>{{ guildAd.name }} - {{ guildAd.region }} {{ guildAd.realm }}</h1>
        <div class="row">
            <h2>Description:</h2>
            {{guildAd.description}}
        </div>
        <div class="row">
            <h2>Raiding Style:</h2>
            {{guildAd.raiding_style}}
        </div>
        <div class="row">
            <h2>Language:</h2>
            {{guildAd.language}}
        </div>
        <div class="row">
            <h2>Recruitment:</h2>
            <div ng-repeat="(role,value) in guildAd.recruitment" class="col-md-3">
                <strong>{{role|uppercase|translate}}</strong>
                <div  ng-repeat="(class,value) in guildAd.recruitment[role]" class="checkbox">
                    <i ng-class="guildAd.recruitment[role][class] ? 'fa-check' : 'fa-times'" class="fa "></i> {{class|uppercase|translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Raids per week</h2>
            <div ng-repeat="(key,value) in guildAd.raids_per_week" class="checkbox">
                <i ng-class="guildAd.raids_per_week[key] ? 'fa-check' : 'fa-times'" class="fa "></i> {{key|uppercase|translate}}
            </div>
        </div>
    </div>
</div>