<wlfg-message-popup></wlfg-message-popup>
<section class="header header-guild">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 ng-if="guild"><span class="icon-medium faction-{{guild.bnet.side}}">{{ guild.name }}</span></h2>
                    <h2  ng-if="!guild">{{"GUILD_NOT_FOUND"|translate}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span ng-if="guild">{{ guild.realm }} - {{ guild.region|uppercase}}</span>
                    <span ng-if="!guild">{{ "CHARACTERS_DESCRIPTION"|translate}}</span>
                    <a class="f-right" ng-if="userCanEdit" href="#/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/update">
                        <i class="fa fa-edit f-20"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="guild-read">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 m-b-10" ng-if="queuePosition">
                        {{"QUEUE_POSITION"|translate}} {{queuePosition.count}} - {{"QUEUE_CHECK_MESSAGE"|translate}}
                    </div>
                    <div class="col-md-6 m-b-20">
                        <button ng-click="updateGuild()" type="button" class="btn btn-default" aria-label="Update Guild">
                            <i class="fa fa-refresh"></i> {{"UPDATE_GUILD"|translate}}
                        </button>
                        <button ng-if="guild.id"  ng-click="openMessagePopup('sm');" type="button" class="btn btn-default" aria-label="Update Character">
                            <img src="/assets/images/message.png" class="message-picto" /> {{"MESSAGE_OPEN_POPUP"|translate}}
                        </button>
                    </div>
                    <!--<div class="col-md-6 m-b-20 text-right">
                        <a href="http://www.askmrrobot.com/wow/combatlog/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}" target="_blank" class="m-l-10 href-icon">
                            <img src="/assets/images/external/amr.png" class="external-icon" width="34" />
                        </a>
                        <a href="https://www.warcraftlogs.com/guilds/name/{{ guild.name }}/{{ guild.realm }}/{{ guild.realm|uppercase }}" target="_blank" class="m-l-10 href-icon">
                            <img src="/assets/images/external/wcl.png" width="34" />
                        </a>
                        <a href="http://{{ character.region }}.battle.net/wow/en/guild/{{ guild.realm }}/{{ guild.name }}/" target="_blank" class="m-l-10 href-icon">
                            <img src="/assets/images/external/armory.png" width="34" />
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="icon-large center-block faction-{{guild.bnet.side}}"></span>
                            </div>
                            <div class="col-md-5">
                                <div class="faction-{{guild.bnet.side}} f-20 overflow">{{ guild.name }}</div>
                                <div class="overflow">{{ guild.realm }} - {{ guild.region|uppercase}}</div>
                                <div class=" overflow">Members : {{ guild.bnet.members.length }}</div>
                            </div>
                            <div class="col-md-4 text-right">
                                <div class="">
                                    <span class="m-l-10" ng-if="guild.ad.language">
                                        {{"LANG_"+guild.ad.language|uppercase|translate}}&nbsp;
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="guild.ad.website">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <div ng-bind-html="guild.ad.website | linky:'_blank'" class="overflow"></div>
                            </div>
                        </div>
                        <div ng-if="guild.ad.description" class="row m-t-10">
                            <div class="col-md-12">
                                <div class="guild-description" marked="guild.ad.description"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                    <div class="row">
                            <div class="col-md-6" ng-if="guild.ad.website">
                                {{"CONTACT"|translate}}: <div ng-bind-html="guild.ad.website | linky:'_blank'" class="overflow"></div>
                            </div>
                            <div class="col-md-6">
                                 <span ng-if="guild.id" ng-click="openMessagePopup('sm');"  class="icon-small logo-warcraftlfg cursor-pointer">WarcraftLFG</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{"AD_UPDATED"|translate}}: <span am-time-ago="guild.ad.updated"></span>
                            </div>
                            <div class="col-md-6">
                                {{"GUILD_UPDATED"|translate}}: <span am-time-ago="guild.updated"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--div class="panel panel-default" ng-if="guild.ad.tags.length">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                Tags : <span class="label label-default" ng-repeat="tag in guild.ad.tags">{{ tag.text }}</span>
                            </div>
                        </div>
                    </div>
                </div-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                {{"RAIDS_PER_WEEK"|translate}}: {{ guild.ad.raids_per_week.min }} - {{ guild.ad.raids_per_week.max }}
                            </div>
                            <div class="col-md-12 m-t-10" ng-if="guild.ad.timezone">
                                {{"TIMEZONE"|translate}}: {{"TIMEZONE_"+guild.ad.timezone|uppercase|translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="guild.ad.play_time" ng-show="guild.ad.play_time.monday.play || guild.ad.play_time.tuesday.play || guild.ad.play_time.wednesday.play || guild.ad.play_time.thursday.play || guild.ad.play_time.friday.play || guild.ad.play_time.saturday.play || guild.ad.play_time.sunday.play">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr ng-repeat="(key, day) in guild.ad.play_time" ng-if="day.play == true">
                                <td>
                                    {{ key|uppercase|translate }}
                                </td>
                                <td>
                                    {{ ("0"+day.start.hour).slice(-2) }}h{{ ("0"+day.start.min).slice(-2) }}
                                </td>
                                <td>
                                    {{ ("0"+day.end.hour).slice(-2) }}h{{ ("0"+day.end.min).slice(-2) }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                         <span class="icon-small tank"><strong> &nbsp;{{"TANKS"|translate}}</strong></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr ng-if="value == true" ng-repeat="(class,value) in guild.ad.recruitment.tank">
                                <td class="class-{{ class|lowercase }}">
                                    {{class|uppercase|translate}}
                                </td>
                            </tr>
                            <tr ng-if="recruit.tank === 0">
                                <td class="common">
                                    {{"NONE"|translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                         <span class="icon-small heal"><strong> &nbsp;{{"HEALS"|translate}}</strong></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr ng-if="value == true"  ng-repeat="(class,value) in guild.ad.recruitment.heal">
                                <td class="class-{{ class|lowercase }}">
                                    {{class|uppercase|translate}}
                                </td>
                            </tr>
                            <tr ng-if="recruit.heal === 0">
                                <td class="common">
                                    {{"NONE"|translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                         <span class="icon-small melee_dps"><strong> &nbsp;{{"MELEE_DPS"|translate}}</strong></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr ng-if="value == true"  ng-repeat="(class,value) in guild.ad.recruitment.melee_dps">
                                <td class="class-{{ class|lowercase }}">
                                    {{class|uppercase|translate}}
                                </td>
                            </tr>
                            <tr ng-if="recruit.melee_dps === 0">
                                <td class="common">
                                    {{"NONE"|translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                         <span class="icon-small ranged_dps"><strong> &nbsp;{{"RANGED_DPS"|translate}}</strong></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr ng-if="value == true"  ng-repeat="(class,value) in guild.ad.recruitment.ranged_dps">
                                <td class="class-{{ class|lowercase }}">
                                    {{class|uppercase|translate}}
                                </td>
                            </tr>
                            <tr ng-if="recruit.ranged_dps === 0">
                                <td class="common">
                                    {{"NONE"|translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{"PROGRESS"|translate}}:
                                <span ng-if="guild.progress.mythicCount>0">{{guild.progress.mythicCount}}/13 (M)</span>
                                <span ng-if="guild.progress.heroicCount>0&&guild.progress.mythicCount==0">{{guild.progress.heroicCount}}/13 (H)</span>
                                <span ng-if="guild.progress.heroicCount==0&&guild.progress.mythicCount==0">{{guild.progress.normalCount}}/13 (N)</span>
                            </div>
                            <div class="col-md-2" ng-if="guild.wowProgress.world_rank">
                                {{"WORLD"|translate}}: <span ng-class="{legendary:guild.wowProgress.world_rank<=10,epic:guild.wowProgress.world_rank<=100&&guild.wowProgress.world_rank>10,rare:guild.wowProgress.world_rank<=2500&&guild.wowProgress.world_rank>100,uncommon:guild.wowProgress.world_rank>2500}">
                                    {{guild.wowProgress.world_rank}}
                                </span>
                            </div>
                            <div class="col-md-2" ng-if="guild.wowProgress.area_rank">
                                {{"REGION"|translate}}: <span ng-class="{legendary:guild.wowProgress.area_rank<=10,epic:guild.wowProgress.area_rank<=100&&guild.wowProgress.area_rank>10,rare:guild.wowProgress.area_rank<=2500&&guild.wowProgress.area_rank>100,uncommon:guild.wowProgress.area_rank>2500}">
                                    {{guild.wowProgress.area_rank}}
                                </span>
                            </div>
                            <div class="col-md-2" ng-if="guild.wowProgress.area_rank">
                                {{"REALM"|translate}}: <span ng-class="{legendary:guild.wowProgress.realm_rank<=10,epic:guild.wowProgress.realm_rank<=100&&guild.wowProgress.realm_rank>10,rare:guild.wowProgress.realm_rank<=2500&&guild.wowProgress.realm_rank>100,uncommon:guild.wowProgress.realm_rank>2500}">
                                    {{guild.wowProgress.realm_rank}}
                                </span>
                            </div>
                            <div class="col-md-2" class="common" ng-if="!guild.wowProgress.world_rank">
                                {{"NO RANK FOUND"|translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <tr ng-repeat="(key, boss) in bosses | limitTo:7">
                                <td class="bold">{{ boss|uppercase|translate}}</td>
                                <td ng-class="{'legendary':guild.progress.mythic[boss],'epic':guild.progress.heroic[boss]&&!guild.progress.mythic[boss],'rare':guild.progress.heroic[boss]&&!guild.progress.mythic[boss]&&!guild.progress.heroic[boss],'common':!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]&&guild.progress.normal[boss]}">
                                    <span ng-if="guild.progress.mythic[boss]">{{"MYTHIC"|translate}}</span>
                                    <span ng-if="guild.progress.heroic[boss]&&!guild.progress.mythic[boss]">{{"HEROIC"|translate}}</span>
                                    <span ng-if="guild.progress.normal[boss]&&!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]">{{"NORMAL"|translate}}</span>
                                    <span ng-if="!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]&&!guild.progress.normal[boss]">{{"NO_KILL"|translate}}</span>
                                </td>
                                <td>
                                    <span ng-if="guild.progress.mythic[boss]">{{ guild.progress.mythic[boss].count }}</span>
                                    <span ng-if="guild.progress.heroic[boss]&&!guild.progress.mythic[boss]">{{ guild.progress.heroic[boss].count }}</span>
                                    <span ng-if="guild.progress.normal[boss]&&!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]">{{ guild.progress.normal[boss].count }}</span>
                                    <span ng-if="!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]&&!guild.progress.normal[boss]">0</span>
                                </td>
                                <td>
                                    <span ng-if="guild.progress.mythic[boss]" am-time-ago="guild.progress.mythic[boss].timestamp"></span>
                                    <span ng-if="guild.progress.heroic[boss]&&!guild.progress.mythic[boss]" am-time-ago="guild.progress.heroic[boss].timestamp"></span>
                                    <span ng-if="guild.progress.normal[boss]&&!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]" am-time-ago="guild.progress.normal[boss].timestamp"></span>
                                    <span ng-if="!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]&&!guild.progress.normal[boss]">&nbsp;</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <tr ng-repeat="(key, boss) in bosses | limitTo:-6">
                                <td class="bold">{{ boss|uppercase|translate }}</td>
                                <td ng-class="{'legendary':guild.progress.mythic[boss],'epic':guild.progress.heroic[boss]&&!guild.progress.mythic[boss],'rare':guild.progress.heroic[boss]&&!guild.progress.mythic[boss]&&!guild.progress.heroic[boss],'common':!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]&&guild.progress.normal[boss]}">
                                    <span ng-if="guild.progress.mythic[boss]">{{"MYTHIC"|translate}}</span>
                                    <span ng-if="guild.progress.heroic[boss]&&!guild.progress.mythic[boss]">{{"HEROIC"|translate}}</span>
                                    <span ng-if="guild.progress.normal[boss]&&!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]">{{"NORMAL"|translate}}</span>
                                    <span ng-if="!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]&&!guild.progress.normal[boss]">{{"NO_KILL"|translate}}</span>
                                </td>
                                <td>
                                    <span ng-if="guild.progress.mythic[boss]">{{ guild.progress.mythic[boss].count}}</span>
                                    <span ng-if="guild.progress.heroic[boss]&&!guild.progress.mythic[boss]">{{ guild.progress.heroic[boss].count}}</span>
                                    <span ng-if="guild.progress.normal[boss]&&!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]">{{ guild.progress.normal[boss].count}}</span>
                                    <span ng-if="!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]&&!guild.progress.normal[boss]">0</span>
                                </td>
                                <td>
                                    <span ng-if="guild.progress.mythic[boss]" am-time-ago="guild.progress.mythic[boss].timestamp"></span>
                                    <span ng-if="guild.progress.heroic[boss]&&!guild.progress.mythic[boss]" am-time-ago="guild.progress.heroic[boss].timestamp"></span>
                                    <span ng-if="guild.progress.normal[boss]&&!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]" am-time-ago="guild.progress.normal[boss].timestamp"></span>
                                    <span ng-if="!guild.progress.mythic[boss]&&!guild.progress.heroic[boss]&&!guild.progress.normal[boss]">&nbsp;</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>