<section class="header header-guild">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 ng-if="guild">
                        <span class="icon-medium faction-{{guild.bnet.side}} m-t-0"></span>
                        <span class="faction-{{guild.bnet.side}}">{{ guild.name }}</span>
                    </h2>
                    <h2 ng-if="!guild">{{"GUILD_NOT_FOUND"|translate}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span ng-if="guild">{{ guild.region|uppercase}}-{{ guild.realm }} <span ng-if="guildParser">- {{ guildParser.length }} {{ "MEMBERS"|translate }}</span> // {{ guild.ad.updated | amDateFormat:'MM-DD-YYYY HH:mm:ss'}}</span>
                    <span ng-if="!guild"></span>
                    <a class="f-right" ng-if="userCanEdit"
                       href="#/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/update">
                        <i class="fa fa-edit f-20"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>