<section class="header  header-guild">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ guild.name }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                	<span class="sectiontitle">
                    	{{ guild.realm }} - {{ guild.region|uppercase }}
                   </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container guild-update">
    <div class="row">
        <div class="col-md-12">
            <uib-tabset>
                <uib-tab index="0" active="activeTabs.lfg">
                    <uib-tab-heading>
                        <div class="text-center">
                            <div>
                               <i class="fa fa-certificate" aria-hidden="true"></i>
                            </div>
                            <div>
                                {{'RECRUITMENT'|translate}}
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                    </uib-tab-heading>
                    <form class="m-b-15 m-t-20" ng-class="">
                        <div class="hide">
                            <!--<span class="f-28">{{ guild.name }} - {{ guild.realm }} - {{ guild.region|uppercase }}</span>-->

                            <input ng-model="guild.name" disabled type="hidden" class="form-control">
                            <input ng-model="guild.realm" disabled type="hidden" class="form-control">
                            <input ng-model="guild.region"  disabled type="hidden" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group m-b-5">
                                            <div class="checkbox m-t-0">
                                                <label>
                                                    <input ng-model="guild.ad.lfg" type="checkbox"> <strong>{{"GUILD_CREATE_LFG"|translate}}</strong>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="italic">
                                            {{"GUILD_CREATE_LFG_DESCRIPTION"|translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group m-b-0">
                                            <label>{{"GUILD_CREATE_PRIMARY_LANGUAGE"|translate}}</label>
                                            <span class="css3-metro-dropdown">
                                                <select ng-model="guild.ad.language" class="form-control">
                                                    <option ng-repeat="language in languages" value="{{language}}">{{"LANG_"+language|uppercase|translate}}</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group m-b0">
                                            <label>{{"GUILD_CREATE_DESCRIPTION"|translate}}</label>
                                            <textarea ng-model="guild.ad.description" class="form-control" placeholder="{{'GUILD_CREATE_DESCRIPTION_PLACEHOLDER'|translate}}" rows="5"></textarea>
                                            <a href="https://help.github.com/articles/markdown-basics/" class="f-right m-t-5 txt-underline" target="_blank">{{"HELP_FORMATTING"|translate}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group m-b-0">
                                            <label>{{"GUILD_CREATE_WEBSITE"|translate}}</label>
                                            <input ng-model="guild.ad.website" placeholder="http://www.example.com" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--div class="form-group">
                            <label>{{"GUILD_CREATE_TAGS"|translate}}</label>
                            <tags-input ng-model="guild.ad.tags" min-length="2" placeholder="{{'GUILD_CREATE_TAGS_PLACEHOLDER'|translate}}" on-tag-added="tagAdded($tag)"></tags-input>
                        </div-->

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group m-b-0">
                                    <label class="m-b-10">{{"GUILD_CREATE_RECRUITMENT_CLASS"|translate}}</label>
                                    <div class="row">
                                        <div ng-repeat="(role,value) in guild.ad.recruitment" class="col-md-3 col-sm-4 col-xs-6">
                                            <span class="icon-small {{role|lowercase}}"><strong>{{role|uppercase|translate}}</strong></span>
                                            <div ng-repeat="(class,value) in guild.ad.recruitment[role]" class="checkbox">
                                                <label class="class-{{ class|lowercase }}">
                                                    <input ng-model="guild.ad.recruitment[role][class]" type="checkbox"> {{class|uppercase|translate}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group m-b-0">
                                            <label>{{"GUILD_CREATE_RAIDS_PER_WEEK"|translate}}</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{guild.ad.raids_per_week.min}} - {{ guild.ad.raids_per_week.max }}
                                                    <angular-ranger min="1" max="7" class="ranger-inverse m-t-10" step="1" min-value="guild.ad.raids_per_week.min" max-value="guild.ad.raids_per_week.max"></angular-ranger>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group m-b-0">
                                            <label>{{"CHARACTER_CREATE_TIMEZONE"|translate}}</label>
                                            <div class="css3-metro-dropdown">
                                                <select ng-model="guild.ad.timezone" class="form-control">
                                                    <option ng-repeat="timezone in timezones" value="{{timezone}}">{{"TIMEZONE_"+timezone|uppercase|translate}} (GMT{{timezone | wlfgTimezoneOffset}})</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<label>{{"GUILD_CREATE_PLAY_TIME"|translate}}</label>-->
                            <table id="raid-schedule" class="table table-condensed">
                                <tr ng-class="{'played':obj.play===true}" ng-repeat="(day,obj) in guild.ad.play_time">
                                    <td class="play text-center"><input ng-model="obj.play" type="checkbox"></td>
                                    <td class="day">{{day|uppercase|translate}}</td>
                                    <td class="start">
                                        <div class="row" ng-show="obj.play">
                                            <div class="col-md-3 text-center">
                                                <label>{{"START_AT"|translate}}</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="css3-metro-dropdown">
                                                    <select wlfg-convert-to-number ng-model="obj.start.hour" class="form-control">
                                                        <option value="0">00</option>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                        <option value="9">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="css3-metro-dropdown">
                                                    <select wlfg-convert-to-number ng-model="obj.start.min" class="form-control">
                                                        <option value="0">00</option>
                                                        <option value="15">15</option>
                                                        <option value="30">30</option>
                                                        <option value="45">45</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="end">
                                        <div class="row" ng-show="obj.play">
                                            <div class="col-md-3 text-center">
                                                <label>{{"END_AT"|translate}}</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="css3-metro-dropdown">
                                                    <select wlfg-convert-to-number ng-model="obj.end.hour" class="form-control">
                                                        <option value="0">00</option>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                        <option value="9">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="css3-metro-dropdown">
                                                    <select wlfg-convert-to-number ng-model="obj.end.min" class="form-control">
                                                        <option value="0">00</option>
                                                        <option value="15">15</option>
                                                        <option value="30">30</option>
                                                        <option value="45">45</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <button type="submit" class="btn btn-default" ng-click="saveAd()">{{"SAVE"|translate}}</button>
                    </form>
                </uib-tab>
                <uib-tab index="1" active="activeTabs.parser">
                    <uib-tab-heading>
                        <div class="text-center">
                            <div>
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            </div>
                            <div>
                                {{'PARSER'|translate}}
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                    </uib-tab-heading>
                    <form class="m-b-15 m-t-20" ng-class="">
                        <div class="hide">
                            <!--<span class="f-28">{{ guild.name }} - {{ guild.realm }} - {{ guild.region|uppercase }}</span>-->

                            <input ng-model="guild.name" disabled type="hidden" class="form-control">
                            <input ng-model="guild.realm" disabled type="hidden" class="form-control">
                            <input ng-model="guild.region"  disabled type="hidden" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group m-b-5">
                                            <div class="checkbox m-t-0">
                                                <label>
                                                    <input ng-model="guild.ad.lfg" type="checkbox"> <strong>{{"GUILD_CREATE_PARSER"|translate}}</strong>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="italic">
                                            {{"GUILD_CREATE_PARSER_DESCRIPTION"|translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group m-b-5">
                                            <div class="checkbox m-t-0">
                                                <label>
                                                    <input ng-model="guild.ad.lfg" type="checkbox"> <strong>{{"GUILD_CREATE_PARSER_VISIBILITY"|translate}}</strong>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="italic">
                                            {{"GUILD_CREATE_PARSER_VISIBLITY_DESCRIPTION"|translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group m-b-0">
                                            <label class="m-b-10">{{"GUILD_CREATE_PARSER_RANK"|translate}}</label>
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1" ng-repeat="rank in guildRankPerms">
                                                    <span uib-tooltip-html="rank.tooltip" class="txt-underline"><label class="checkbox-inline">
                                                        <input ng-model="rank.parser" type="checkbox" value="">
                                                        {{"RANK"|translate}} {{ rank.id }} 
                                                        <!--( <span uib-tooltip-html="rank.tooltip" class="txt-underline">{{rank.size}}</span> )-->
                                                    </label></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="saveParser()">{{"SAVE"|translate}}</button>
                    </form>
                </uib-tab>
                <uib-tab index="2" ng-if="guildRank === 0">
                    <uib-tab-heading>
                        <div class="text-center">
                            <div>
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <div>
                                {{'PERMISSIONS'|translate}}
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                    </uib-tab-heading>
                    <form class="m-b-15 m-t-20">
                        <table id="rank-permissions" class="table">
                            <tr>
                                <th>{{"RANK"|translate}}</th>
                                <th>{{"MEMBERS"|translate}}</th>
                                <th>{{"PERMISSIONS"|translate}}</th>
                            </tr>
                            <tr ng-repeat="rank in guildRankPerms">
                                <td>{{rank.id}}</td>
                                <td class="rank-size" data-size="{{rank.size}}"><span uib-tooltip-html="rank.tooltip">{{rank.size}}</span></td>
                                <td>
                                    <div class="checkbox">
                                        <label><input ng-model="rank.ad.edit" type="checkbox" ng-disabled="rank.id === 0">{{"GUILD_PERMISSION_EDIT_AD"|translate}}</label>
                                        <label><input ng-model="rank.ad.del" type="checkbox" ng-disabled="rank.id === 0">{{"GUILD_PERMISSION_DELETE_AD"|translate}}</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <button type="submit" class="btn btn-default" ng-click="savePerms()">{{"SAVE"|translate}}</button>
                    </form>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>