<uib-tabset>
    <uib-tab index="0"
             ng-repeat="difficulty in difficulties">
        <uib-tab-heading>
            <div class="text-center">
                <div>
                    {{difficulty|uppercase|translate}} -
                    {{progress[difficulty+'Count']}}/{{progressCount}}
                </div>
                <div class="border-bottom"></div>
            </div>
        </uib-tab-heading>
        <div class="row m-t-10">
            <div class="col-md-12">
                <uib-accordion close-others="oneAtATime">
                    <div ng-if="kills.timestamps.length > 0 || kills.irrelevantTimestamps.length"
                         uib-accordion-group
                         ng-repeat="(boss, kills) in progress[difficulty]">
                        <uib-accordion-heading>
                            {{boss}}
                            <div class="pull-right" tooltip-placement="left" uib-tooltip-html="'{{kills.timestamps.length}} relevant kill(s)<br/>{{kills.irrelevantTimestamps.length}} irrelevant kill(s)'">
                                {{kills.timestamps.length}} <i class="fa fa-check" aria-hidden="true"></i>
                                {{kills.irrelevantTimestamps.length}} <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </uib-accordion-heading>
                        <div class="row">
                            <div class="col-md-12">
                                <uib-tabset>
                                    <uib-tab class="m-r-10" index="0"
                                             heading="{{kills.timestamps.length}} kill(s) recorded">
                                        <div ng-repeat="timestamp in kills.timestamps">
                                            <div class="m-10">
                                                <div class="m-b-5 cursor-pointer"
                                                     ng-click="showRoster =!showRoster;loadRoster(difficulty,boss,timestamp)">
                                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                    {{timestamp[0]|amDateFormat:'L LTS'}} <span
                                                        ng-show="$first">(<i class="fa fa-trophy"
                                                                             aria-hidden="true"></i> First kill)</span>
                                                </div>
                                                <div ng-show="showRoster">
                                                    Roster size : {{roster[timestamp.join('')].length}}
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <table class="table table-condensed table-striped">
                                                                <tr ng-if="$even"
                                                                    ng-repeat="player in roster[timestamp.join('')]">
                                                                    <td class="class-{{player.characterClass}}">
                                                                        {{player.characterName}}
                                                                    </td>
                                                                    <td>{{player.characterSpec}}</td>
                                                                    <td>
                                                                        {{player.characterAverageItemLevelEquipped}}
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <table class="table table-condensed table-striped">
                                                                <tr ng-if="$odd"
                                                                    ng-repeat="player in roster[timestamp.join('')]">
                                                                    <td class="class-{{player.characterClass}}">
                                                                        {{player.characterName}}
                                                                    </td>
                                                                    <td>{{player.characterSpec}}</td>
                                                                    <td>
                                                                        {{player.characterAverageItemLevelEquipped}}
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1"
                                             heading="{{kills.irrelevantTimestamps.length}} irrelevant kill(s) recorded">
                                        <div ng-repeat="timestamp in kills.irrelevantTimestamps">
                                            <div class="m-10">
                                                <div class="m-b-5 cursor-pointer"
                                                     ng-click="showRoster =!showRoster;loadRoster(difficulty,boss,timestamp)">
                                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                    {{timestamp[0]| amUtc | amDateFormat:'L LTS'}}
                                                </div>
                                                <div ng-show="showRoster">
                                                    Roster size : {{roster[timestamp.join('')].length}}
                                                    <table class="table table-condensed table-striped">
                                                        <tr ng-repeat="player in roster[timestamp.join('')]">
                                                            <td class="class-{{player.characterClass}}">
                                                                {{player.characterName}}
                                                            </td>
                                                            <td>{{player.characterSpec}}</td>
                                                            <td>{{player.characterRole}}</td>
                                                            <td>{{player.characterAverageItemLevelEquipped}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
</uib-tabset>