<div ng-include="'app/guild/guild-read-header.html'"></div>
<div class="guild-read">
    <div class="container">
        <div ng-include="'app/guild/guild-read-intro.html'"></div>
        <div class="row">
            <div class="col-md-12">
                <h2>{{"NORMAL"|translate}}</h2>
                <uib-accordion close-others="oneAtATime">

                    <div uib-accordion-group class="panel-default" heading="{{boss}}"
                         ng-repeat="(boss, kills) in progress.normal">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>{{kills.timestamps.length}} kills recorded</h4>
                                <div ng-repeat="timestamp in kills.timestamps">

                                    <div class="m-b-5 m-l-10 cursor-pointer"
                                         ng-click="showRoster =!showRoster;loadRoster('normal',boss,timestamp)">
                                        {{timestamp[0]| amDateFormat:'LLLL'}} <span ng-show="$first">(First kill)</span>
                                    </div>
                                    <div ng-show="showRoster">
                                        Roster size : {{roster[timestamp.join('')].length}}
                                        <table class="table table-condensed table-striped">
                                            <tr ng-repeat="player in roster[timestamp.join('')]">
                                                <td class="class-{{player.characterClass}}">{{player.characterName}}
                                                </td>
                                                <td>{{player.characterSpec}}</td>
                                                <td>{{player.characterRole}}</td>
                                                <td>{{player.characterAverageItemLevelEquipped}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>


                            </div>


                            <div class="col-md-6">
                                <h4>{{kills.irrelevantTimestamps.length}} irrelevant kills recorded</h4>
                                <div ng-repeat="timestamp in kills.irrelevantTimestamps">

                                    <div class="m-b-5 m-l-10 cursor-pointer"
                                         ng-click="showRoster =!showRoster;loadRoster('normal',boss,timestamp)">
                                        {{timestamp[0]| amDateFormat:'LLLL'}}
                                    </div>
                                    <div ng-show="showRoster">
                                        Roster size : {{roster[timestamp.join('')].length}}
                                        <table class="table table-condensed table-striped">
                                            <tr ng-repeat="player in roster[timestamp.join('')]">
                                                <td class="class-{{player.characterClass}}">{{player.characterName}}
                                                </td>
                                                <td>{{player.characterSpec}}</td>
                                                <td>{{player.characterRole}}</td>
                                                <td>{{player.characterAverageItemLevelEquipped}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </uib-accordion>


            </div>

        </div>
    </div>
</div>