<section class="header header-guild">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ "GUILDS"|translate}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ "GUILDS_DESCRIPTION"|translate}}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="guild-list">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 m-b-10">
                <div class="filters p-10">
                    <div class="m-b-20">
                        <span class="css3-metro-dropdown">
                            <select ng-model="filters.region" class="form-control">
                                <option value="">{{"ALL_REGION"|translate}}</option>
                                <option value="us">US</option>
                                <option value="eu">EU</option>
                                <option value="kr">KR</option>
                                <option value="tw">TW</option>
                            </select>
                        </span>
                    </div>
                    <div class="m-b-20">
                        <div isteven-multi-select
                             input-model="realms"
                             button-label="label"
                             item-label="label"
                             output-properties="region connected_realms"
                             tick-property="selected"
                             translation="localRealms"
                             selection-mode="single"
                             on-item-click="setRealm(data)"
                             on-reset="resetRealm()"
                        >
                        </div>
                    </div>
                    <div class="m-b-20">
                        <span class="css3-metro-dropdown">
                            <select ng-model="filters.faction" ng-change="updateFilters()" class="form-control">
                                <option value="">{{"ALL_FACTION"|translate}}</option>
                                <option value="0">{{"ALLIANCE"|translate}}</option>
                                <option value="1">{{"HORDE"|translate}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="m-b-20">
                        <span class="css3-metro-dropdown">
                            <select ng-model="filters.language"  ng-change="updateFilters()"  class="form-control">
                                <option ng-repeat="language in languages" value="{{language}}">{{"LANG_"+language|uppercase|translate}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="m-b-20">
                        <div
                                isteven-multi-select
                                input-model="classes"
                                output-model="filters.classes"
                                button-label="icon name"
                                item-label="icon name"
                                output-properties="id role"
                                tick-property="selected"
                                group-property="msGroup"
                                translation="localClasses">
                        </div>
                    </div>
                    <div class="m-b-20">
                        <div
                                isteven-multi-select
                                input-model="days"
                                output-model="filters.days"
                                button-label="name"
                                item-label="name"
                                output-properties="id"
                                tick-property="selected"
                                group-property="msGroup"
                                translation="localDays">
                        </div>
                    </div>
                    <div class="m-b-20">
                        <span class="css3-metro-dropdown">
                            <select ng-model="filters.timezone" ng-change="updateFilters()" class="form-control">
                                <option ng-repeat="timezone in timezones" value="{{timezone}}">{{"TIMEZONE_"+timezone|uppercase|translate}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="m-b-20">
                        <label>
                            <input ng-model="filters.raids_per_week.active" ng-change="updateFilters()" type="checkbox"> Raids per week</label>
                        <div ng-if="filters.raids_per_week.active">
                            {{filters.raids_per_week.min}} - {{filters.raids_per_week.max}}
                            <angular-ranger min="1" max="7" step="1" min-value="filters.raids_per_week.min" max-value="filters.raids_per_week.max"></angular-ranger>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-9" infinite-scroll="getMoreGuilds()">
                <div class="cartouche cartouche-faction-{{guild.bnet.side}}" ng-repeat="guild in guilds">
                    <div class="guild guild-faction-{{guild.bnet.side}}">
                        <a class="div-link" href="#/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/"></a>
                        <div class="row">
                            <div class="col-sm-3 col-md-4 col-lg-4">
                                <div class="overflow faction-{{guild.bnet.side}}">
                                    <a class="faction-{{guild.bnet.side}} f-28" href="#/guild/{{ guild.region }}/{{ guild.realm }}/{{ guild.name }}/">
                                        {{guild.name}}
                                    </a>
                                </div>
                                <div class="overflow">
                                    {{guild.realm}} ({{guild.region|uppercase}})
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-lg-4">
                                <div>
                                    Language : {{guild.ad.language|uppercase}}
                                </div>
                                <div>
                                    Raids per week : {{guild.ad.raids_per_week.min}} - {{guild.ad.raids_per_week.max}}
                                </div>
                                <div ng-if="
                                guild.ad.recruitment.tank.warrior ||  guild.ad.recruitment.tank.druid || guild.ad.recruitment.tank.paladin || guild.ad.recruitment.tank.monk ||
                                guild.ad.recruitment.heal.druid ||  guild.ad.recruitment.heal.priest || guild.ad.recruitment.heal.paladin || guild.ad.recruitment.heal.shaman || guild.ad.recruitment.heal.monk ||
                                guild.ad.recruitment.melee_dps.druid ||  guild.ad.recruitment.melee_dps.deathknight || guild.ad.recruitment.melee_dps.paladin || guild.ad.recruitment.melee_dps.monk || guild.ad.recruitment.melee_dps.shaman || guild.ad.recruitment.melee_dps.warrior || guild.ad.recruitment.melee_dps.rogue ||
                                guild.ad.recruitment.heal.priest ||  guild.ad.recruitment.heal.shaman || guild.ad.recruitment.heal.hunter || guild.ad.recruitment.heal.warlock || guild.ad.recruitment.heal.mage">
                                    Role :&nbsp;
                                    <span ng-if="guild.ad.recruitment.tank.warrior ||  guild.ad.recruitment.tank.druid || guild.ad.recruitment.tank.paladin || guild.ad.recruitment.tank.monk" class="icon-small tank"></span>
                                    <span ng-if="guild.ad.recruitment.heal.druid ||  guild.ad.recruitment.heal.priest || guild.ad.recruitment.heal.paladin || guild.ad.recruitment.heal.shaman || guild.ad.recruitment.heal.monk" class="icon-small heal"></span>
                                    <span ng-if="guild.ad.recruitment.melee_dps.druid ||  guild.ad.recruitment.melee_dps.deathknight || guild.ad.recruitment.melee_dps.paladin || guild.ad.recruitment.melee_dps.monk || guild.ad.recruitment.melee_dps.shaman || guild.ad.recruitment.melee_dps.warrior || guild.ad.recruitment.melee_dps.rogue"  class="icon-small dps"></span>
                                    <span ng-if="guild.ad.recruitment.heal.priest ||  guild.ad.recruitment.heal.shaman || guild.ad.recruitment.heal.hunter || guild.ad.recruitment.heal.warlock || guild.ad.recruitment.heal.mage" class="icon-small ranged-dps"></span>
                                </div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-3 col-md-offset-2 col-lg-offset-0 col-md-10 col-lg-3">
                                <div>
                                    Progress :
                                    <span ng-if="guild.progress['Hellfire Citadel'].mythicCount>0">{{guild.progress['Hellfire Citadel'].mythicCount}}/13 (M)</span>
                                    <span ng-if="guild.progress['Hellfire Citadel'].heroicCount>0&&!guild.progress['Hellfire Citadel'].mythicCount">{{guild.progress['Hellfire Citadel'].heroicCount}}/13 (H)</span>
                                    <span ng-if="guild.progress['Hellfire Citadel'].normalCount>=0&&!guild.progress['Hellfire Citadel'].mythicCount&&!guild.progress['Hellfire Citadel'].heroicCount">{{guild.progress['Hellfire Citadel'].normalCount}}/13 (N)</span>
                                    <span ng-if="!guild.progress['Hellfire Citadel'].normalCount && !guild.progress['Hellfire Citadel'].heroicCount && !guild.progress['Hellfire Citadel'].mythicCount">0/13 (NM)</span>
                                </div>
                                WoWProgress :
                                <div class="row" ng-if="guild.wowProgress.world_rank">
                                    <div class="col-sm-2 col-md-4">World</div>
                                    <div class="col-sm-10 col-md-8" ng-class="{legendary:guild.wowProgress.world_rank<=10,epic:guild.wowProgress.world_rank<=100&&guild.wowProgress.world_rank>10,rare:guild.wowProgress.world_rank<=2500&&guild.wowProgress.world_rank>100,uncommon:guild.wowProgress.world_rank>2500}">
                                        {{guild.wowProgress.world_rank}}
                                    </div>
                                </div>
                                <div class="row" ng-if="guild.wowProgress.area_rank">
                                    <div class="col-sm-2 col-md-4">Region</div>
                                    <div class="col-sm-10 col-md-8" ng-class="{legendary:guild.wowProgress.area_rank<=10,epic:guild.wowProgress.area_rank<=100&&guild.wowProgress.area_rank>10,rare:guild.wowProgress.area_rank<=2500&&guild.wowProgress.area_rank>100,uncommon:guild.wowProgress.area_rank>2500}">
                                        {{guild.wowProgress.area_rank}}
                                    </div>
                                </div>
                                <div class="row" ng-if="guild.wowProgress.area_rank">
                                    <div class="col-sm-2 col-md-4">Realm</div>
                                    <div class="col-sm-10 col-md-8" ng-class="{legendary:guild.wowProgress.realm_rank<=10,epic:guild.wowProgress.realm_rank<=100&&guild.wowProgress.realm_rank>10,rare:guild.wowProgress.realm_rank<=2500&&guild.wowProgress.realm_rank>100,uncommon:guild.wowProgress.realm_rank>2500}">
                                        {{guild.wowProgress.realm_rank}}
                                    </div>
                                </div>
                                <div class="row" ng-if="!guild.wowProgress.world_rank">
                                    <div class="col-sm-10 col-md-9 common">
                                        No rank found
                                    </div>
                                </div>
                            </div>
                            <div class="guild-timestamp">
                                <span am-time-ago="{{guild.ad.updated| amSubtract : '1' : 'minute'}}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-md-9 col-lg-9 text-center m-t-10 m-b-10">
                <i class="fa fa-3x fa-spinner fa-spin" ng-if="loading"></i>
            </div>
        </div>
    </div>
</div>