<wlfg-character-add-popup></wlfg-character-add-popup>
<wlfg-guild-add-popup></wlfg-guild-add-popup>
<section class="header header-account">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ "ACCOUNT"|translate}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ "ACCOUNT_DESCRIPTION"|translate}}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="account-management">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <h3 class="m-b-20">{{"ACCOUNT_MANAGE_MY_GUILDS"|translate}}</h3>
                <div class="m-b-15">
                    <button class="btn btn-default" ng-click="openGuildAddPopup('sm')">
                        <i class="fa fa-plus"></i> &nbsp;
                        {{"ACCOUNT_ADD_GUILD"|translate}}
                    </button>
                </div>
                <table class="table">
                    <tr ng-repeat="guildAd in guildAds">
                        <td class="faction-{{guildAd.bnet.side}}">
                            <a href="{{ hashbang }}/guild/{{ guildAd.region }}/{{ guildAd.realm }}/{{ guildAd.name }}/" class="txt-underline">
                                {{guildAd.name}}
                            </a>
                        </td>
                        <td>
                            {{guildAd.realm}}
                        </td>
                        <td>
                            {{guildAd.region|uppercase}}
                        </td>
                        <td ng-init="diffDay = (guildAd.ad.updated | amDifference:null:'days')">
                            <a href="{{ hashbang }}/guild/{{ guildAd.region }}/{{ guildAd.realm }}/{{ guildAd.name }}/" tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip-template="'accountRecruitementTooltipTemplate.html'">
                                <i ng-class="{'text-success':diffDay<=0&&diffDay>=-90,'text-warning':diffDay<-90&&diffDay>=-120,'text-danger':diffDay>0||diffDay<-120}" class="fa fa-file-text-o"></i>
                            </a>
                            <script type="text/ng-template" id="accountRecruitementTooltipTemplate.html">
                                <span>{{"EXPIRE"|translate}} <span am-time-ago="{{guildAd.ad.updated|amAdd:'120':'days'}}"></span></span>
                            </script>
                        </td>
                        <td>
                            <a href="{{ hashbang }}/guild/{{ guildAd.region }}/{{ guildAd.realm }}/{{ guildAd.name }}/parser/" tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip-template="'accountParserTooltipTemplate.html'">
                                <i ng-class="{'text-success':guildAd.parser.active,'text-danger':!guildAd.parser.active}" class="fa fa-bar-chart"></i>
                            </a>
                            <script type="text/ng-template" id="accountParserTooltipTemplate.html">
                                <span ng-if="guildAd.parser.active">{{"ACCOUNT_PARSER_ACTIVE"|translate}}</span>
                                <span ng-if="!guildAd.parser.active">{{"ACCOUNT_PARSER_INACTIVE"|translate}}</span>
                            </script>
                        </td>
                        <td class="text-right">
                            <a class="txt-white m-r-10 f-16 txt-no-decoration"
                               href="{{ hashbang }}/guild/{{guildAd.region}}/{{guildAd.realm}}/{{guildAd.name}}/update"
                               ng-if="guildAd.perms.ad.edit" tooltip-placement="top" tooltip-append-to-body="true"
                               uib-tooltip="{{'EDIT'|translate }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <span tooltip-placement="top" ng-if="guildAd.perms.ad.del"
                                  uib-tooltip="{{'DELETE'|translate }}" tooltip-append-to-body="true">
                                <span class="txt-white m-r-10 f-16 cursor-pointer"
                                      ng-click="deleteGuildAd(guildAd.region,guildAd.realm,guildAd.name)" wlfg-confirm
                                      wlfg-confirm-content="{{'CONFIRM_DELETE_GUILD_AD'|translate}}">
                                    <i class="fa fa-trash-o"></i>
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr ng-if="!guildAds.length">
                        <td class="text-center">
                            {{"NO_DATA"|translate}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3 class="m-b-20">{{"ACCOUNT_MANAGE_MY_CHARACTERS"|translate}}</h3>
                <div class="m-b-15">
                    <button class="btn btn-default" ng-click="openCharacterAddPopup('sm');">
                        <i class="fa fa-plus"></i> &nbsp;
                        {{"ACCOUNT_ADD_CHARACTER"|translate}}
                    </button>
                </div>
                <table class="table">
                    <tr ng-repeat="characterAd in characterAds">
                        <td class="text-center v-top">
                            <div class="icon-small class-{{characterAd.bnet.class}} m-r-5 m-l-5"></div>
                        </td>
                        <td class="class-{{characterAd.bnet.class}}">
                            <a href="{{ hashbang }}/character/{{ characterAd.region }}/{{ characterAd.realm }}/{{ characterAd.name }}/"
                               class="txt-underline">
                                {{characterAd.name}}
                            </a>
                        </td>
                        <td class="faction-{{character.bnet.faction}}">
                            {{characterAd.realm}}
                        </td>
                        <td>
                            {{characterAd.region|uppercase}}
                        </td>
                        <td>
                            <span ng-if="characterAd.ad.lfg">
                                {{"EXPIRE"|translate}} <span
                                    am-time-ago="{{characterAd.ad.updated|amAdd:'30':'days'}}"></span>
                            </span>
                        </td>
                        <td>
                            <a class="txt-no-decoration txt-white m-r-10 f-16 txt-no-decoration"
                               href="{{ hashbang }}/character/{{characterAd.region}}/{{characterAd.realm}}/{{characterAd.name}}/update"
                               tooltip-placement="top" uib-tooltip="{{'EDIT'|translate }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <span tooltip-placement="top" uib-tooltip="{{'DELETE'|translate }}">
                                <span class="txt-no-decoration txt-white f-16 cursor-pointer"
                                      ng-click="deleteCharacterAd(characterAd.region,characterAd.realm,characterAd.name)"
                                      wlfg-confirm wlfg-confirm-content="{{'CONFIRM_DELETE_CHARACTER_AD'|translate}}">
                                    <i class="fa fa-trash-o"></i>
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr ng-if="!characterAds.length">
                        <td class="text-center">
                            {{"NO_DATA"|translate}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="m-b-20">{{"ACCOUNT_CONFIGURATION"|translate}}</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group m-b-0">
                            <label>{{ "ACCOUNT_PREFERENCE_LANGUAGE"|translate }}</label>
                            <span class="css3-metro-dropdown">
                                <select ng-change="saveUser()" ng-model="user.language"
                                        class="form-control">
                                    <option value=""><{{ "CHOOSE_LANGUAGE"|translate }}></option>
                                    <option value="en">English</option>
                                    <option value="de">Deutsch</option>
                                    <option value="fr">Français</option>
                                    <option value="ru">Русский</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label>{{"ACCOUNT_EMAIL"|translate}}</label>
                        <form name="emailAddressForm" class="form-inline">
                            <div class="m-b-10">
                                <div class="cursor-pointer" ng-show="!emailEdit" ng-click="emailEdit=true">
                                    <span ng-if="user.email.address==''">{{"NO_EMAIL_REGISTERED"|translate}}</span>
                                    <span ng-if="user.email.address!=''">{{user.email.address}}</span>
                                    &nbsp;<i class="fa fa-pencil fa-16"
                                       tooltip-placement="top"
                                       uib-tooltip="{{'EDIT'|translate }}"></i>
                                </div>
                                <div ng-show="emailEdit" class="form-group"
                                     ng-class="{'has-error':!emailAddressForm.emailAddressInput.$valid}">
                                    <input name="emailAddressInput"
                                           ng-model="user.email.address"
                                           type="email" placeholder="{{'ACCOUNT_EMAIL_EXAMPLE'|translate}}"
                                           class="form-control">
                                    <button class="btn btn-default" ng-disabled="!emailAddressForm.emailAddressInput.$valid"
                                            ng-click="saveUser();emailEdit=false">
                                        {{"SAVE"|translate}}
                                    </button>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-click="saveUser()" ng-model="user.email.services.adsExpirationReminder"
                                                   type="checkbox">
                                            <strong>{{"ACCOUNT_ADS_EXPIRATION_REMINDER"|translate}}</strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="italic m-t-5">
                                    {{"ACCOUNT_ADS_EXPIRATION_REMINDER_DESCRIPTION"|translate}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>