<div class="jumbotron">
    <h2>{{user.battletag}}</h2>
    <div class="row">
        <div class="col-md-3 bnet-logo"></div>
        <div class="col-md-9">
            <p>{{"ACCOUNT_SEARCH_DESCRIPTION"|translate}}</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#/guild/create" role="button">{{"ACCOUNT_SEARCH_PLAYER"|translate}}</a>
                <a class="btn btn-primary btn-lg" href="#/character/create" role="button">{{"ACCOUNT_SEARCH_GUILD"|translate}}</a>
            </p>
        </div>
    </div>
</div>
<div>
    <h3>{{"ACCOUNT_USER_GUILD_ADS"|translate}}</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="guild_ad in guild_ads">
            <div class="row">
                <div class="col-md-9">
                   <a href="#/guild/{{ guild_ad.region }}/{{ guild_ad.realm }}/{{ guild_ad.name }}/">{{guild_ad.name}} - {{guild_ad.realm}} - {{guild_ad.region}} - <span am-time-ago="guild_ad.updated"></span></a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-default" href="#/guild/{{guild_ad.region}}/{{guild_ad.realm}}/{{guild_ad.name}}/update" role="button"><i class="fa fa-pencil"></i> {{"EDIT"|translate}}</a>
                    <a class="btn btn-danger" href="#" role="button"><i class="fa fa-trash-o"></i> {{"DELETE"|translate}}</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div>
    <h3>{{"ACCOUNT_USER_CHARACTERS_ADS"|translate}}</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="character_ad in character_ads">
            <div class="row">
                <div class="col-md-9">
                   <a href="#/character/{{ character_ad.region }}/{{ character_ad.realm }}/{{ character_ad.name }}/">{{character_ad.name}} - {{character_ad.realm}} - {{character_ad.region}} - <span am-time-ago="character_ad.updated"></span></a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-default" href="#/character/{{character_ad.region}}/{{character_ad.realm}}/{{character_ad.name}}/update" role="button"><i class="fa fa-pencil"></i> {{"EDIT"|translate}}</a>
                    <a class="btn btn-danger" href="#" role="button"><i class="fa fa-trash-o"></i> {{"DELETE"|translate}}</a>
                </div>
            </div>
        </li>
    </ul>
</div>

