<section class="header">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ "ACCOUNT"|translate}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ "ACCOUNT_DESCRIPTION"|translate}}
                </div>
            </div>
        </div>
    </div>
</section>
<!--<div class="jumbotron">
    <div class="container">
        <h2>{{user.battletag}}</h2>
        <div class="row">
            <div class="col-md-3 bnet-logo"></div>
            <div class="col-md-9">
                <p>{{"ACCOUNT_SEARCH_DESCRIPTION"|translate}}</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="#/guild/create" role="button">{{"ACCOUNT_SEARCH_PLAYER"|translate}}</a>
                    <a class="btn btn-primary btn-lg" href="#/character/create" role="button">{{"ACCOUNT_SEARCH_GUILD"|translate}}</a>
                </p>
            </div>
        </div>
    </div>
</div>-->
<div class="account-management">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <h3 class="m-b-20">{{"ACCOUNT_MANAGE_GUILD_ADS"|translate}}</h3>
                <div class="m-b-15">
                    <a class="btn btn-default" href="#/guild/create" role="button">
                        <i class="fa fa-plus"></i> &nbsp;
                        {{"ACCOUNT_SEARCH_PLAYER"|translate}}
                    </a>
                </div>
                <div class="m-b-15 p-15 bd-s">
                    <form>
                        <div class="form-group">
                            <label for="region">{{ "REGION"|translate }}</label>
                            <select ng-model="region" ng-change="updateRegion()" class="form-control" id="region">
                                <option value=""><{{ "CHOOSE_REGION"|translate }}></option>
                                <option value="eu">EU</option>
                                <option value="kr">KR</option>
                                <option value="tw">TW</option>
                                <option value="us">US</option>
                            </select>
                        </div>
                    </form>
                    <div class="form-group">
                        <label for="region">{{ "GUILD_CREATE_CHOOSE"|translate }}</label>
                        <p ng-if="!userGuilds.length">
                            {{ "NO_GUILD_FOUND_FOR_REGION"|translate }}
                        </p>
                        <p ng-repeat="guild in userGuilds">
                            <a class="btn btn-default" ng-click="createGuildAd(region,guild.realm,guild.name)" role="button">{{guild.name}} - {{guild.realm}}</a>
                        </p>
                    </div>
                    <div class="">
                        <button class="btn btn-default">{{ "CANCEL"|translate }}</button>
                    </div>
                </div>
                <table class="table">
                    <tr ng-repeat="guildAd in guildAds">
                        <td class="faction-{{guildAd.bnet.side}}">
                            <a href="#/guild/{{ guildAd.region }}/{{ guildAd.realm }}/{{ guildAd.name }}/" class="txt-underline">
                                {{guildAd.name}}
                            </a>
                        </td>
                        <td>
                            {{guildAd.realm}}
                        </td>
                        <td>
                            {{guildAd.region|uppercase}}
                        </td>
                        <td>
                            {{"UPDATED"|translate}} <span am-time-ago="guildAd.ad.updated"></span>
                        </td>
                        <td>
                            <a class="txt-white m-r-10 f-18" href="#/guild/{{guildAd.region}}/{{guildAd.realm}}/{{guildAd.name}}/update" tooltip-placement="top" uib-tooltip="{{'EDIT'|translate }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="txt-white m-r-10 f-18" href="#/guild/{{guildAd.region}}/{{guildAd.realm}}/{{guildAd.name}}/delete" tooltip-placement="top" uib-tooltip="{{'DELETE'|translate }}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="!guildAds.length">
                        <td>
                            {{"NO_DATA"|translate}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3 class="m-b-20">{{"ACCOUNT_MANAGE_CHARACTER_ADS"|translate}}</h3>
                <div class="m-b-15">
                    <a class="btn btn-default" href="#/character/create" role="button">
                        <i class="fa fa-plus"></i> &nbsp;
                        {{"ACCOUNT_SEARCH_GUILD"|translate}}
                    </a>
                </div>
                <div class="m-b-15 p-15 bd-s">
                    <form>
                        <div class="form-group">
                            <label for="region">{{ "REGION"|translate }}</label>
                            <select ng-model="region" ng-change="updateRegion()" class="form-control" id="region">
                                <option value=""><{{ "CHOOSE_REGION"|translate }}></option>
                                <option value="eu">EU</option>
                                <option value="kr">KR</option>
                                <option value="tw">TW</option>
                                <option value="us">US</option>
                            </select>
                        </div>
                    </form>
                    <div class="form-group">
                        <label for="region">{{ "CHARACTER_CREATE_CHOOSE"|translate }}</label>
                        <p ng-if="!userCharacters.length">
                            {{ "NO_CHARACTER_FOUND_FOR_REGION"|translate }}
                        </p>
                        <p ng-repeat="character in userCharacters">
                            <a class="btn btn-default" ng-click="createCharacterAd(region,character.realm,character.name)" role="button">
                                {{character.name}} ({{character.level}}) - {{character.realm}}
                            </a>
                        </p>
                    </div>
                    <div class="">
                        <button class="btn btn-default">{{ "CANCEL"|translate }}</button>
                    </div>
                </div>
                <table class="table">
                    <tr ng-repeat="characterAd in characterAds">
                        <td class="icon-small class-{{characterAd.bnet.class}}">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td class="class-{{characterAd.bnet.class}}">
                            <a href="#/character/{{ characterAd.region }}/{{ characterAd.realm }}/{{ characterAd.name }}/" class="txt-underline">
                                {{characterAd.name}}
                            </a>
                        </td>
                        <td>
                            {{characterAd.realm}}
                        </td>
                        <td>
                            {{characterAd.region|uppercase}}
                        </td>
                        <td>
                            {{"UPDATED"|translate}} <span am-time-ago="characterAd.ad.updated"></span>
                        </td>
                        <td>
                            <a class="txt-no-decoration txt-white m-r-10 f-18" href="#/character/{{characterAd.region}}/{{characterAd.realm}}/{{characterAd.name}}/update"  tooltip-placement="top" uib-tooltip="{{'EDIT'|translate }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="txt-no-decoration txt-white f-18" href="#/character/{{characterAd.region}}/{{characterAd.realm}}/{{characterAd.name}}/delete" tooltip-placement="top" uib-tooltip="{{'DELETE'|translate }}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="!characterAds.length">
                        <td>
                            {{"NO_DATA"|translate}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>